<!--<div id="slideshow--><?php //echo $module; ?><!--" class="owl-carousel" style="opacity: 1;">-->
<!--  --><?php //foreach ($banners as $banner) { ?>
<!--  <div class="item">-->
<!--    --><?php //if ($banner['link']) { ?>
<!--    <a href="--><?php //echo $banner['link']; ?><!--"><img src="--><?php //echo $banner['image']; ?><!--" alt="--><?php //echo $banner['title']; ?><!--" class="img-responsive" /></a>-->
<!--    --><?php //} else { ?>
<!--    <img src="--><?php //echo $banner['image']; ?><!--" alt="--><?php //echo $banner['title']; ?><!--" class="img-responsive" />-->
<!--    --><?php //} ?>
<!--  </div>-->
<!--  --><?php //} ?>
<!--</div>-->

<div class="main_slideshow">
    <?php foreach ($banners as $banner) { ?>
        <div class="slideshow_item">
            <?php if ($banner['link']) { ?>
                <a href="<?php echo $banner['link']; ?>"><img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" class="img-responsive" /></a>
                <a href="<?php echo $banner['link']; ?>"><img src="<?php echo $banner['image1']; ?>" alt="<?php echo $banner['title']; ?>" class="mob_banner img-responsive" /></a>
            <?php } else { ?>
                <img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" class="img-responsive" />
                <img src="<?php echo $banner['image1']; ?>" alt="<?php echo $banner['title']; ?>" class="mob_banner img-responsive" />
            <?php } ?>
        </div>
    <?php } ?>
</div>