@font-face {
    font-family: 'AvenirNextMedium';
    src: url('../fonts/AvenirNext/AvenirNextW1G-Medium.eot');
    src: url('../fonts/AvenirNext/AvenirNextW1G-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNext/AvenirNextW1G-Medium.woff2') format('woff2'),
    url('../fonts/AvenirNext/AvenirNextW1G-Medium.woff') format('woff'),
    url('../fonts/AvenirNext/AvenirNextW1G-Medium.ttf') format('truetype'),
    url('../fonts/AvenirNext/AvenirNextW1G-Medium.svg#AvenirNextW1G-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLight';
    src: url('../fonts/AvenirNext/AvenirNextW1G-Light.eot');
    src: url('../fonts/AvenirNext/AvenirNextW1G-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNext/AvenirNextW1G-Light.woff2') format('woff2'),
    url('../fonts/AvenirNext/AvenirNextW1G-Light.woff') format('woff'),
    url('../fonts/AvenirNext/AvenirNextW1G-Light.ttf') format('truetype'),
    url('../fonts/AvenirNext/AvenirNextW1G-Light.svg#AvenirNextW1G-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextRegular';
    src: url('../fonts/AvenirNext/AvenirNextW1G-Regular.eot');
    src: url('../fonts/AvenirNext/AvenirNextW1G-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNext/AvenirNextW1G-Regular.woff2') format('woff2'),
    url('../fonts/AvenirNext/AvenirNextW1G-Regular.woff') format('woff'),
    url('../fonts/AvenirNext/AvenirNextW1G-Regular.ttf') format('truetype'),
    url('../fonts/AvenirNext/AvenirNextW1G-Regular.svg#AvenirNextW1G-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextBold';
    src: url('../fonts/AvenirNext/AvenirNextW1G-Bold.eot');
    src: url('../fonts/AvenirNext/AvenirNextW1G-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNext/AvenirNextW1G-Bold.woff2') format('woff2'),
    url('../fonts/AvenirNext/AvenirNextW1G-Bold.woff') format('woff'),
    url('../fonts/AvenirNext/AvenirNextW1G-Bold.ttf') format('truetype'),
    url('../fonts/AvenirNext/AvenirNextW1G-Bold.svg#AvenirNextW1G-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CourierNew';
    src: url('../fonts/couriernew/CourierNewPSMT.eot');
    src: url('../fonts/couriernew/CourierNewPSMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/couriernew/CourierNewPSMT.woff') format('woff'),
    url('../fonts/couriernew/CourierNewPSMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?fbx0mz');
    src:  url('../fonts/icomoon/icomoon.eot?fbx0mz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?fbx0mz') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?fbx0mz') format('woff'),
    url('../fonts/icomoon/icomoon.svg?fbx0mz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-settings-work-tool:before {
    content: "\e912";
    color: #5a3d84;
}
.icon-combined-shape:before {
    content: "\e911";
    color: #5a3d84;
}
.icon-web-syst:before {
    content: "\e908";
}
.icon-left-arrow:before {
    content: "\e90f";
}
.icon-left-arrow-(1):before {
                        content: "\e910";
                    }
.icon-cancel2:before {
    content: "\e90e";
    color: #5a3d84;
}
.icon-shopping-bag-1:before {
    content: "\e900";
    color: #5a3d84;
}
.icon-cancel:before {
    content: "\e901";
    color: #fff;
}
.icon-facebook-logo:before {
    content: "\e902";
    color: #5a3d84;
}
.icon-instagram-logo:before {
    content: "\e903";
    color: #5a3d84;
}
.icon-login-1:before {
    content: "\e904";
    color: #5a3d84;
}
.icon-mouse:before {
    content: "\e905";
}
.icon-placeholder-filled-point:before {
    content: "\e906";
    color: #5a3d84;
}
.icon-right-arrow-2:before {
    content: "\e907";
}
.icon-search-1:before {
    content: "\e90b";
    color: #5a3d84;
}
.icon-shopping-bag-2:before {
    content: "\e909";
    color: #62478a;
}
.icon-shopping-cart:before {
    content: "\e90a";
}
.icon-telephone:before {
    content: "\e90c";
    color: #5a3d84;
}
.icon-triangle:before {
    content: "\e90d";
    color: #5a3d84;
}