.information-information .title, .module-faq .title {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.information-information  .title h1,  .module-faq  .title h1 {
    font-family: "AvenirNextRegular";
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    display: inline-block;
    background-color: white;
    position: relative;
    z-index: 2;
    margin: 0px;
    padding-right: 58px;
    white-space: nowrap;
}
.information-information .title h1 span, .module-faq .title h1 span {
    color: #5a3d84;
}
.information-information .title .line, .module-faq .title .line {
    content: '';
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(#f0d8a3), to(#8f754b));
    background: -webkit-linear-gradient(left, #f0d8a3, #8f754b);
    background: -o-linear-gradient(left, #f0d8a3, #8f754b);
    background: linear-gradient(to right, #f0d8a3, #8f754b);
    top: 50%;
    left: 0px;
}

/*faq*/
.col-faq{
    padding: 15px 0 30px 0;

}
.faq-curier-title{
    font-family: "AvenirNextRegular";
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    text-align: left;
    color: #5a3d84;
    border-bottom: solid 1px #eeeeee;
    padding: 15px 0;

}
.faq-number{
    font-family: "AvenirNextBold";
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #ede5da;
    padding-right: 5px;
}

.faq-description  {
    font-family: "AvenirNextRegular";
    padding: 15px 0 0 0;
    font-size: 14px;
    line-height: 1.86;
    text-align: left;
    color: #838383;
}

/*aboute*/
.col-aboute{
    padding: 0 0 30px 0;

}
.col-aboute-left{
    padding-top: 60px;
}
.col-aboute-right{
    padding-top: 150px;
}
.aboute-curier-title{
    font-family: "AvenirNextBold";
    font-size: 24px;
    font-weight: bold;
    color: #8f754b;
    opacity: 0.7;
    border-bottom: solid 1px #eeeeee;
    padding: 15px 0;
}
.col-aboute-left .aboute-curier-title{
    text-align: right;
}
.col-aboute-right .aboute-curier-title{
    text-align: left;
}
.aboute-title {
    height: 40px;
    display: inline-block;
    float: right;
    line-height: 40px;
}
.col-aboute-left .aboute-title {
    float: right;
    padding: 0 0 0 10px;

}
.col-aboute-right .aboute-title {
    float: left;
    padding: 0 10px  0 0;

}
.aboute-title-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
}
.icon-rocket{
    background:url("../image/icon_rocket.png") 0 0 no-repeat;
    background-size: cover;

}
.icon-good{
    background:url("../image/icon_good.png") 0 0 no-repeat;
    background-size: cover;

}
.icon-quality{
    background:url("../image/icon_quality.png") 0 0 no-repeat;
    background-size: cover;

}
.icon-assortment{
    background:url("../image/icon_assortment.png") 0 0 no-repeat;
    background-size: cover;

}
.icon-garanty{
    background:url("../image/icon_garanty.png") 0 0 no-repeat;
    background-size: cover;

}
.aboute-description {
    font-family: "AvenirNextRegular";
    padding: 15px 0 0px 0;
    font-size: 14px;
    line-height: 1.86;
    color: #838383;
}
.col-aboute-left .aboute-description {
    text-align: right;
}
.col-aboute-right .aboute-description {
    text-align: left;
}
.register_radio{
    display: inline-block;
}
@media screen and (max-width: 1310px) {
    .aboute-curier-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 1210px) {
    .col-aboute-right, .col-aboute-left {
        padding-top: 0px;
    }
    .faq-curier-title {
        padding: 0 0 15px 0;
        line-height: 1.41;
    }
}
@media screen and (max-width: 1430px) {
    .step-container{
        margin-right: 30px;
    }
    .step-container:last-child{
        margin: 0;
    }
    .simple-step{
        font-size: 20px;
    }
    .step_info{
        font-size: 10px;
    }
}
@media screen and (max-width: 1260px) {
    .step-container{
        margin-right: 20px;
    }

}
@media screen and (max-width: 1220px) {
    .step-menu{
        flex-direction: column;
    }
    .step-container{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 480px) {
    .step_info{
        display: none;
    }
    .simple-step{
        font-size: 16px;
    }
    .step-container{
        display: flex;
        align-items: center;
    }
}

