@media screen and (max-width: 1440px) {
  /* line 2, ../sass/media.scss */
  body {
    background: white;
  }

  /* line 5, ../sass/media.scss */
  .f_content, .f_footer {
    width: calc(100% - 240px);
  }

  /* line 9, ../sass/media.scss */
  .container {
    width: 100%;
  }

  /* line 13, ../sass/media.scss */
  .main_about_as ul {
    padding: 0px 40px 28px 40px;
  }
  /* line 15, ../sass/media.scss */
  .main_about_as ul:after {
    width: calc(100% - 80px);
    left: 40px;
  }
  /* line 19, ../sass/media.scss */
  .main_about_as ul li {
    height: 142px;
  }

  /* line 24, ../sass/media.scss */
  .main_menu .first_level > li a {
    padding: 17px 25px 13px 25px;
  }

  /* line 28, ../sass/media.scss */
  footer .contacts {
    width: 29%;
  }
  /* line 31, ../sass/media.scss */
  footer .subscribe_wrapp {
    width: 37.666667%;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1211px) {
  /* line 37, ../sass/media.scss */
  .product-page .button_group {
    width: 66.66667%;
  }

  /* line 40, ../sass/media.scss */
  .product-page .button_group_whst {
    width: 15%;
  }

  /* line 43, ../sass/media.scss */
  .fixed_menu {
    width: calc(100% - 240px);
  }

  /* line 46, ../sass/media.scss */
  .main_about_as ul {
    width: 941px;
    margin: 0 auto;
    margin-top: 21px;
    margin-bottom: 46px;
  }

  /* line 52, ../sass/media.scss */
  footer .subscribe_wrapp .subscribe-title br {
    display: none;
  }
}
@media screen and (max-width: 1210px) and (min-width: 1200px) {
  /* line 57, ../sass/media.scss */
  .product-page .button_group {
    width: 83.33333333%;
  }

  /* line 60, ../sass/media.scss */
  .product-page .button_group_whst {
    width: 16.66666667%;
  }
}
@media screen and (max-width: 1210px) {
  /* line 65, ../sass/media.scss */
  .container, .f_content, .f_footer {
    width: 750px;
  }

  /* line 69, ../sass/media.scss */
  .main_about_as ul {
    padding: 0px 0px 28px 0px;
  }
  /* line 71, ../sass/media.scss */
  .main_about_as ul:after {
    width: 100%;
    left: 0px;
  }
  /* line 75, ../sass/media.scss */
  .main_about_as ul li {
    height: 114px;
  }
  /* line 77, ../sass/media.scss */
  .main_about_as ul li p {
    font-size: 16px;
  }

  /* line 84, ../sass/media.scss */
  .main_menu .secound_level {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 87, ../sass/media.scss */
  .main_menu .secound_level > li {
    width: auto;
  }
  /* line 93, ../sass/media.scss */
  .main_menu .first_level > li a {
    padding: 17px 9px 13px 9px;
  }

  /* line 99, ../sass/media.scss */
  .fixed_menu {
    width: auto;
  }
  /* line 103, ../sass/media.scss */
  .fixed_menu .first_level li a {
    font-size: 16px;
  }

  /* line 109, ../sass/media.scss */
  .wrapp_sort {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  /* line 113, ../sass/media.scss */
  .wrapp_sort .sort_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /* line 119, ../sass/media.scss */
  .wrapp_sort .sort_item label.control-label:last-child {
    display: none;
  }
  /* line 125, ../sass/media.scss */
  .wrapp_sort .pagination_wrapp .pagination {
    margin-top: 20px;
  }
  /* line 129, ../sass/media.scss */
  .wrapp_sort .pagination_wrapp .pagination li.active span:not(.num) {
    display: none;
  }

  /* line 138, ../sass/media.scss */
  .product-layout .product-thumb {
    padding-bottom: 10px;
  }
  /* line 141, ../sass/media.scss */
  .product-layout .product-thumb:hover .wrapp_whbtn {
    right: 5px;
    opacity: 1;
  }
  /* line 145, ../sass/media.scss */
  .product-layout .product-thumb:hover .sizes {
    opacity: 0;
  }
  /* line 149, ../sass/media.scss */
  .product-layout .product-thumb .sizes {
    display: none;
  }
  /* line 152, ../sass/media.scss */
  .product-layout .product-thumb .wrapp_whbtn {
    right: 5px;
    opacity: 1;
  }

  /* line 159, ../sass/media.scss */
  footer .contacts {
    width: 33%;
  }
  /* line 161, ../sass/media.scss */
  footer .contacts .telephone {
    padding-left: 0px;
  }
  /* line 164, ../sass/media.scss */
  footer .contacts .email {
    padding-left: 0px;
  }
  /* line 168, ../sass/media.scss */
  footer .subscribe_wrapp {
    width: 33.666667%;
  }
  /* line 170, ../sass/media.scss */
  footer .subscribe_wrapp .subscribe-box {
    padding-left: 0px;
  }
}
@media screen and (max-width: 991px) {
  /* line 177, ../sass/media.scss */
  .container, .f_content, .f_footer {
    width: 100%;
  }

  /* line 181, ../sass/media.scss */
  header .left_logo {
    background-size: calc(100% + 60px) 100%;
  }
  /* line 183, ../sass/media.scss */
  header .left_logo .text {
    margin-right: 0px;
  }
  /* line 186, ../sass/media.scss */
  header .left_logo:before, header .left_logo:after {
    width: 65px;
    left: inherit;
    right: 45px;
  }
  /* line 192, ../sass/media.scss */
  header .right_logo {
    background-size: calc(100% + 60px) 100%;
  }
  /* line 194, ../sass/media.scss */
  header .right_logo .text {
    margin-left: 0px;
  }
  /* line 197, ../sass/media.scss */
  header .right_logo:before, header .right_logo:after {
    width: 65px;
    right: inherit;
    left: 45px;
  }

  /* line 206, ../sass/media.scss */
  .main_menu .first_level > li {
    text-align: center;
  }
  /* line 208, ../sass/media.scss */
  .main_menu .first_level > li a {
    display: inline-block;
    padding: 17px 40px 13px 40px;
  }
  /* line 211, ../sass/media.scss */
  .main_menu .first_level > li a .open_child {
    display: block;
  }
  /* line 216, ../sass/media.scss */
  .main_menu .first_level > li.dropdown .dropdown-menu {
    position: static;
    padding: 0px;
    padding-bottom: 0px !important;
  }
  /* line 223, ../sass/media.scss */
  .main_menu .first_level .secound_level > li a {
    padding: 5px 20px 9px 30px;
  }
  /* line 227, ../sass/media.scss */
  .main_menu .third_level {
    padding-left: 25px;
    padding-top: 5px;
  }
  /* line 231, ../sass/media.scss */
  .main_menu .secound_level {
    padding: 5px 15px 15px 10px;
    border-right: 0px;
    border-left: 0px;
  }
  /* line 237, ../sass/media.scss */
  .main_menu.fine_menu .first_level {
    border: 0px;
  }

  /* line 243, ../sass/media.scss */
  .cart_wrapp {
    position: absolute;
    right: 30px;
    top: calc(50% - 15px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  /* line 250, ../sass/media.scss */
  .cart_wrapp .cart_link {
    width: 54px;
    display: block;
    height: 71px;
    padding: 32px 0px 0px 0px;
    font-size: 27px;
  }
  /* line 256, ../sass/media.scss */
  .cart_wrapp .cart_link span {
    display: none;
  }
  /* line 259, ../sass/media.scss */
  .cart_wrapp .cart_link:before {
    background: url("../image/shopping-bag-1.svg");
    position: absolute;
    content: '';
    left: 50%;
    height: 100%;
    width: 100%;
    background-size: cover;
    display: block;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0px;
    z-index: 2;
  }
  /* line 276, ../sass/media.scss */
  .cart_wrapp.has-product .cart_link {
    color: black;
  }
  /* line 278, ../sass/media.scss */
  .cart_wrapp.has-product .cart_link:before {
    content: '';
  }

  /* line 285, ../sass/media.scss */
  .main_menu #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
  }
  /* line 297, ../sass/media.scss */
  .main_menu .hamburger {
    display: block;
  }
  /* line 300, ../sass/media.scss */
  .main_menu .first_level {
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    width: calc(100% + 30px);
    max-width: inherit;
    left: -15px;
    z-index: 3;
    border-bottom: 1px solid rgba(238, 231, 219, 0.5);
  }
  /* line 312, ../sass/media.scss */
  .main_menu .shecter {
    display: block;
  }
  /* line 317, ../sass/media.scss */
  .main_menu.fine_menu .first_level > li {
    background-color: white;
  }
  /* line 321, ../sass/media.scss */
  .main_menu.fine_menu .first_level > li a:hover:after {
    display: none;
  }
  /* line 326, ../sass/media.scss */
  .main_menu.fine_menu .first_level > li:hover {
    background-color: white;
  }

  /* line 333, ../sass/media.scss */
  .f_content:before, .f_content:after, .f_footer:before, .f_footer:after {
    display: none;
  }

  /* line 336, ../sass/media.scss */
  #right_header {
    position: absolute;
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px;
    left: 0px !important;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  /* line 358, ../sass/media.scss */
  .language_wrapp {
    margin: 0px;
    border-bottom: 0px;
    padding: 0px;
  }
  /* line 362, ../sass/media.scss */
  .language_wrapp .all_languages {
    background-color: white;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 10px 10px 10px 10px;
    border: 1px solid #5A3D84;
    z-index: 2;
  }

  /* line 376, ../sass/media.scss */
  .curremcies_wrapp {
    margin: 0px;
    border-bottom: 0px;
    padding: 0px;
  }
  /* line 380, ../sass/media.scss */
  .curremcies_wrapp .all_currencies {
    background-color: white;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 10px 10px 10px 10px;
    border: 1px solid #5A3D84;
    z-index: 2;
  }

  /* line 395, ../sass/media.scss */
  .search_link {
    margin: 0px;
    border-bottom: 0px;
  }

  /* line 400, ../sass/media.scss */
  .login_wrapp .login_link {
    margin: 0px;
    border-bottom: 0px;
  }
  /* line 404, ../sass/media.scss */
  .login_wrapp .info {
    display: none;
  }

  /* line 408, ../sass/media.scss */
  .wishlist {
    padding: 0px;
  }
  /* line 410, ../sass/media.scss */
  .wishlist .wishlist-total {
    margin: 0px;
  }
  /* line 412, ../sass/media.scss */
  .wishlist .wishlist-total:hover {
    background-position: -5px -41px;
  }
  /* line 414, ../sass/media.scss */
  .wishlist .wishlist-total:hover .info {
    display: none;
  }
  /* line 418, ../sass/media.scss */
  .wishlist .wishlist-total:after {
    display: none;
  }

  /* line 423, ../sass/media.scss */
  .fixed_menu {
    display: none !important;
  }

  /* line 426, ../sass/media.scss */
  .product-page .right-col-product {
    padding: 0px 15px;
  }

  /* line 431, ../sass/media.scss */
  footer .addressa, footer .contacts {
    display: none;
  }
  /* line 434, ../sass/media.scss */
  footer .subscribe_wrapp {
    width: 100%;
  }
  /* line 436, ../sass/media.scss */
  footer .subscribe_wrapp .subscribe-box {
    padding: 0px 100px;
  }
  /* line 439, ../sass/media.scss */
  footer .subscribe_wrapp .subscribe-title {
    text-align: center;
  }
  /* line 441, ../sass/media.scss */
  footer .subscribe_wrapp .subscribe-title br {
    display: none;
  }

  /* line 447, ../sass/media.scss */
  #menu .dropdown:hover > .dropdown-menu {
    display: none;
  }

  /* line 450, ../sass/media.scss */
  .callback_btn {
    left: 10px !important;
    top: inherit !important;
    bottom: 15px !important;
  }

  /* line 455, ../sass/media.scss */
  .news-ncategory .artblock {
    width: 50%;
  }

  /* line 458, ../sass/media.scss */
  .news-article .blog-gallery .wrapp_img {
    width: 33.33332%;
  }

  /* line 462, ../sass/media.scss */
  .wishlist:hover .info, .language_wrapp:hover .info, .curremcies_wrapp:hover .info, .search_link:hover .info, .login_wrapp:hover .info {
    display: none;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  /* line 468, ../sass/media.scss */
  .main_about_as ul {
    width: 738px;
    margin: 0 auto;
    margin-top: 21px;
    margin-bottom: 46px;
  }

  /* line 475, ../sass/media.scss */
  header .logo_wrapp {
    max-width: 140px;
  }
}
@media screen and (max-width: 767px) {
  /* line 481, ../sass/media.scss */
  #right_header {
    position: static;
  }

  /* line 484, ../sass/media.scss */
  .cart_wrapp {
    position: static;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    width: 47px;
  }
  /* line 490, ../sass/media.scss */
  .cart_wrapp .cart_link {
    overflow: hidden;
    width: 27px;
    height: 35px;
    padding: 0px 0px 0px 0px;
    color: transparent;
  }
  /* line 496, ../sass/media.scss */
  .cart_wrapp .cart_link:before {
    top: 1px;
    content: '\e900' !important;
    background: none !important;
    font-family: icomoon;
    color: #5a3d84;
    font-size: 34px;
    font-weight: 600;
    line-height: normal;
  }
  /* line 508, ../sass/media.scss */
  .cart_wrapp.has-product .cart_link {
    text-indent: 0px;
    font-size: 20px;
    padding-top: 12px;
  }
  /* line 512, ../sass/media.scss */
  .cart_wrapp.has-product .cart_link:before {
    font-size: 34px;
  }

  /* line 518, ../sass/media.scss */
  .search_link {
    padding: 10px 0px 4px 0px;
  }

  /* line 521, ../sass/media.scss */
  .login_wrapp .login_link {
    padding: 10px 0px 7px 0px;
  }

  /* line 524, ../sass/media.scss */
  .wishlist {
    width: 47px;
  }
  /* line 526, ../sass/media.scss */
  .wishlist .wishlist-total {
    margin: 0 auto;
  }

  /* line 530, ../sass/media.scss */
  .main_menu .shecter {
    display: none;
  }

  /* line 534, ../sass/media.scss */
  .language_wrapp .languages_btn {
    padding-bottom: 10px;
    text-align: center;
  }
  /* line 537, ../sass/media.scss */
  .language_wrapp .languages_btn:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: auto;
    bottom: 0px;
    line-height: normal;
  }
  /* line 547, ../sass/media.scss */
  .language_wrapp .all_languages {
    background-color: white;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 10px 10px 10px 10px;
    border: 1px solid #5A3D84;
    z-index: 2;
  }

  /* line 562, ../sass/media.scss */
  .curremcies_wrapp .currencies_btn {
    padding-bottom: 10px;
    text-align: center;
  }
  /* line 565, ../sass/media.scss */
  .curremcies_wrapp .currencies_btn:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: auto;
    bottom: 0px;
    line-height: normal;
  }
  /* line 575, ../sass/media.scss */
  .curremcies_wrapp .all_currencies {
    background-color: white;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 10px 10px 10px 10px;
    border: 1px solid #5A3D84;
    z-index: 2;
  }

  /* line 589, ../sass/media.scss */
  .wrapp_sort {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    display: block;
  }

  /* line 595, ../sass/media.scss */
  .mfilter_wrapp {
    margin-bottom: 20px;
    position: relative;
  }
  /* line 598, ../sass/media.scss */
  .mfilter_wrapp .mfilter-box {
    position: absolute;
    left: 0px;
    top: 100%;
    background-color: white;
    z-index: 5;
    width: 100%;
    padding: 0px 15px;
    display: none;
    border-bottom: 1px solid #90764c;
    padding-bottom: 20px;
  }

  /* line 611, ../sass/media.scss */
  header {
    border-top: 1px solid rgba(238, 231, 219, 0.5);
    border-bottom: 1px solid rgba(238, 231, 219, 0.5);
  }
  /* line 614, ../sass/media.scss */
  header .logo_wrapp {
    padding: 10px 0px;
    max-width: 100%;
  }
  /* line 617, ../sass/media.scss */
  header .logo_wrapp img {
    display: none;
  }
  /* line 619, ../sass/media.scss */
  header .logo_wrapp img.mobile_logo {
    display: block;
  }
  /* line 624, ../sass/media.scss */
  header .left_logo, header .right_logo {
    display: none;
  }

  /* line 628, ../sass/media.scss */
  .main_slideshow {
    margin-left: -15px;
    margin-right: -15px;
  }
  /* line 632, ../sass/media.scss */
  .main_slideshow .slideshow_item img {
    display: none;
  }
  /* line 634, ../sass/media.scss */
  .main_slideshow .slideshow_item img.mob_banner {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  /* line 642, ../sass/media.scss */
  #manufacturer_carusel {
    display: none;
  }

  /* line 645, ../sass/media.scss */
  .latest_wrapp {
    border: 0px;
  }
  /* line 648, ../sass/media.scss */
  .latest_wrapp .title:before {
    display: none;
  }
  /* line 651, ../sass/media.scss */
  .latest_wrapp .title h3 {
    display: block;
  }
  /* line 653, ../sass/media.scss */
  .latest_wrapp .title h3 a {
    padding: 15px 30px 15px 10px;
    text-align: left;
  }
  /* line 656, ../sass/media.scss */
  .latest_wrapp .title h3 a:after {
    right: 6px;
  }
  /* line 660, ../sass/media.scss */
  .latest_wrapp .title h3 a:hover:after {
    right: 6px;
  }

  /* line 668, ../sass/media.scss */
  .main_about_as {
    border: 0px;
  }
  /* line 671, ../sass/media.scss */
  .main_about_as .title:before {
    display: none;
  }
  /* line 674, ../sass/media.scss */
  .main_about_as .title h3 {
    display: block;
  }
  /* line 676, ../sass/media.scss */
  .main_about_as .title h3 a {
    padding: 15px 30px 15px 10px;
    text-align: left;
  }
  /* line 679, ../sass/media.scss */
  .main_about_as .title h3 a:after {
    right: 6px;
  }
  /* line 683, ../sass/media.scss */
  .main_about_as .title h3 a:hover:after {
    right: 6px;
  }
  /* line 690, ../sass/media.scss */
  .main_about_as ul {
    padding: 0px 20px 28px 20px;
    margin-left: -15px;
    margin-right: -15px;
  }
  /* line 694, ../sass/media.scss */
  .main_about_as ul .slick-arrow {
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 23px;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  /* line 703, ../sass/media.scss */
  .main_about_as ul .slick-arrow:before {
    font-family: icomoon;
    font-size: 20px;
    color: #161616;
    position: absolute;
    top: calc(50% - 10px);
    -webkit-transform: translate3D(-50%, -50%, 0);
    -ms-transform: translate3D(-50%, -50%, 0);
    transform: translate3D(-50%, -50%, 0);
    left: 50%;
  }
  /* line 715, ../sass/media.scss */
  .main_about_as ul .slick-arrow:hover:before {
    color: #5A3D84;
  }
  /* line 719, ../sass/media.scss */
  .main_about_as ul .slick-arrow.next_arrow {
    right: 0px;
    top: 50%;
  }
  /* line 722, ../sass/media.scss */
  .main_about_as ul .slick-arrow.next_arrow:before {
    content: '\e910';
  }
  /* line 726, ../sass/media.scss */
  .main_about_as ul .slick-arrow.prev_arrow {
    left: 0px;
    top: 50%;
  }
  /* line 729, ../sass/media.scss */
  .main_about_as ul .slick-arrow.prev_arrow:before {
    content: '\e90f';
  }
  /* line 734, ../sass/media.scss */
  .main_about_as ul li {
    background: white;
    height: 127px;
  }
  /* line 737, ../sass/media.scss */
  .main_about_as ul li:before {
    content: '';
    display: block;
    width: 127px;
    height: 127px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: -webkit-gradient(linear, left top, left bottom, from(#90764c), color-stop(54%, #ecd49f), to(#90764c));
    background: -webkit-linear-gradient(top, #90764c, #ecd49f 54%, #90764c);
    background: -o-linear-gradient(top, #90764c, #ecd49f 54%, #90764c);
    background: linear-gradient(to bottom, #90764c, #ecd49f 54%, #90764c);
  }
  /* line 754, ../sass/media.scss */
  .main_about_as ul li:after {
    width: 123px;
    height: 123px;
    top: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  /* line 768, ../sass/media.scss */
  .information-contact .title h2 {
    padding-right: 0px;
  }
  /* line 771, ../sass/media.scss */
  .information-contact .title .line {
    display: none;
  }
  /* line 775, ../sass/media.scss */
  .information-contact .shops_nikola {
    margin-top: 25px;
  }

  /* line 780, ../sass/media.scss */
  .category-page .titles {
    height: 1px;
    padding: 0px;
  }
  /* line 783, ../sass/media.scss */
  .category-page .titles .line {
    display: none;
  }

  /* line 790, ../sass/media.scss */
  .product-page .related_wrapp .related {
    padding-right: 40px;
    padding-left: 40px;
  }
  /* line 793, ../sass/media.scss */
  .product-page .related_wrapp .related .slick-list {
    margin: 0px;
  }
  /* line 796, ../sass/media.scss */
  .product-page .related_wrapp .related .slick-arrow {
    height: 70px;
    width: 20px;
  }
  /* line 799, ../sass/media.scss */
  .product-page .related_wrapp .related .slick-arrow.prev_arrow {
    top: 50%;
  }
  /* line 802, ../sass/media.scss */
  .product-page .related_wrapp .related .slick-arrow.next_arrow {
    top: 50%;
    right: 15px;
    left: inherit;
  }

  /* line 811, ../sass/media.scss */
  #cart_popup .fancy_head {
    padding: 24px 45px 24px 20px;
  }
  /* line 813, ../sass/media.scss */
  #cart_popup .fancy_head:before {
    display: none;
  }

  /* line 819, ../sass/media.scss */
  .custom_fancy .fancybox-skin .fancybox-close {
    right: 6px;
  }
  /* line 824, ../sass/media.scss */
  .custom_fancy .fancybox-skin .fancybox-outer .fancybox-inner .fancy_content {
    padding: 25px 20px 49px 20px;
  }

  /* line 832, ../sass/media.scss */
  #popup-purchase-wrapper .thumb {
    width: 130px;
  }
  /* line 835, ../sass/media.scss */
  #popup-purchase-wrapper .right_info {
    width: calc(100% - 143px);
  }

  /* line 840, ../sass/media.scss */
  footer .subscribe_wrapp {
    padding: 0px;
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
  }
  /* line 845, ../sass/media.scss */
  footer .subscribe_wrapp .subscribe-box {
    padding: 0px;
  }
  /* line 849, ../sass/media.scss */
  footer .subscribe_wrapp .subscribe-form .btn_wrapp {
    text-align: center;
  }
  /* line 852, ../sass/media.scss */
  footer .subscribe_wrapp .subscribe-form .form-group {
    margin-top: 30px;
  }
  /* line 854, ../sass/media.scss */
  footer .subscribe_wrapp .subscribe-form .form-group input {
    padding: 3px 10px;
  }

  /* line 861, ../sass/media.scss */
  .news-article .blog-gallery .wrapp_img {
    width: 50%;
  }

  /* line 865, ../sass/media.scss */
  .login_register-wrapp #quick-login, .login_register-wrapp #quick-register {
    width: 100%;
  }
  /* line 868, ../sass/media.scss */
  .login_register-wrapp #quick-login {
    margin-bottom: 20px;
  }
  /* line 871, ../sass/media.scss */
  .login_register-wrapp .content_popup:before {
    display: none;
  }

  /* line 875, ../sass/media.scss */
  .wrapp_sort .pagination_wrapp {
    text-align: center;
    margin-top: 10px;
  }
  /* line 878, ../sass/media.scss */
  .wrapp_sort .pagination_wrapp .paginationc {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  /* line 887, ../sass/media.scss */
  #cart_popup .wrapp_products .product .right_info {
    width: 100%;
  }

  /* line 894, ../sass/media.scss */
  #popup-purchase-wrapper .thumb {
    width: 100%;
    margin: 0px;
    text-align: center;
  }
  /* line 898, ../sass/media.scss */
  #popup-purchase-wrapper .thumb img {
    margin: 0 auto;
  }
  /* line 902, ../sass/media.scss */
  #popup-purchase-wrapper .right_info .product-name {
    font-size: 18px;
  }
  /* line 905, ../sass/media.scss */
  #popup-purchase-wrapper .right_info {
    width: 100%;
  }
  /* line 909, ../sass/media.scss */
  #popup-purchase-wrapper .wrapp_options .radio_wrapp {
    width: 100%;
  }
  /* line 913, ../sass/media.scss */
  #popup-purchase-wrapper .popup-heading {
    font-size: 20px;
    padding: 18px 50px 21px 25px;
  }
  /* line 916, ../sass/media.scss */
  #popup-purchase-wrapper .popup-heading:before {
    display: none;
  }

  /* line 921, ../sass/media.scss */
  .news-ncategory .artblock {
    width: 100%;
  }

  /* line 924, ../sass/media.scss */
  .news-article .blog-gallery .wrapp_img {
    width: 100%;
  }

  /* line 927, ../sass/media.scss */
  #search_popup .fancy_head {
    padding-left: 15px;
  }
  /* line 929, ../sass/media.scss */
  #search_popup .fancy_head:before {
    display: none;
  }

  /* line 934, ../sass/media.scss */
  #cookie_fancy .wrapp_buttons {
    flex-direction: column;
  }
  /* line 936, ../sass/media.scss */
  #cookie_fancy .wrapp_buttons div {
    width: 100%;
    margin-top: 10px;
  }
  /* line 942, ../sass/media.scss */
  #cookie_fancy .fancy_content .title {
    font-size: 18px;
  }
  /* line 945, ../sass/media.scss */
  #cookie_fancy .fancy_content .text {
    line-height: 1.76;
  }
}
