/*@import url('https://fonts.googleapis.com/css?family=Arimo');*/
.simple-content {
    margin: 0px;
}
.simple-content fieldset {
    text-align: left;
}
.simple-content fieldset h3 {
    margin: 0;
}
.simple-content .name {
    float: none !important;
}
/*.simple-content .button, #simplecheckout_login .button {*/
    /*margin: 0px !important;*/
/*}*/
.simple-content .buttons {
    margin: 0px 0px 15px 0px;
    border: none;
}
.simple-content .form-control {
    width: 100%;
}
#simplecheckout_login .buttons {
    margin: 0;
    border: none;
    background: inherit !important;
    padding: 0px !important;
}
.simplecheckout-block-content .checkbox label,
.simplecheckout-block-content .radio label {
    font-family: "AvenirNextRegular";
    font-size: 14px;
    font-weight: 500;
    color: #3a3a3a;
    padding-left: 30px;
}
.simplecheckout-block-content .checkbox input,
.simplecheckout-block-content .radio input {
    display: none;
}
.has-error .form-control{
    box-shadow: none!important;
}
/*.simplecheckout-step:nth-child(1){*/
    /*display: block;*/
/*}*/
/*.simplecheckout-step{*/
    /*display: none;*/
/*}*/
.simplecheckout-block-content .checkbox label:before,
.simplecheckout-block-content .radio label:before {
    content: '';
    position: absolute;
    display: block;
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url("../image/checkbefore.svg") no-repeat;
    cursor: pointer;
}
.simplecheckout-block-content .checkbox input:checked + label::before,
.simplecheckout-block-content .radio input:checked + label::before {
    background: url("../image/checkafter.svg") no-repeat;
}
.simplecheckout {
    width:100%;
}
.simplecheckout:after {
    content:"";
    display:block;
    clear:both;
}
.simplecheckout-three-column {
    float:left;
    margin-right:2%;
    min-width: 200px;
    max-width: 500px;
    width:32%;
}
.simplecheckout-three-column + .simplecheckout-three-column + .simplecheckout-three-column {
    margin-right:0px;
    float: right;
}
.name a{
    font-family: "AvenirNextRegular";
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #161616;
}
@media only screen and (max-width:768px) {
    .simplecheckout-three-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100%;
    }
}
.simplecheckout-left-column {
    float:left;
    margin-right:10px;
    min-width: 280px;
    max-width: 900px;
    width:52%;
}
.simplecheckout-right-column {
    float:right;
    min-width: 280px;
    max-width: 900px;
    width:46%;
}

@media only screen and (max-width:1024px) {
    .simplecheckout-left-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100%;
    }
    .simplecheckout-right-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100%;
    }
}
@media only screen and (max-width:1200px) {
    .simplecheckout label.col-sm-2 {
        padding-left: 5px;
        padding-right: 5px;
    }

}
@media only screen and (max-width:768px) {
    .simplecheckout label.col-sm-2 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.simplecheckout-block {
    clear: both;
    margin-bottom: 20px;
}
.simplecheckout-block-content {
    padding: 10px 0;
}
.simplecheckout-block-content:after {
    content:"";
    display:block;
    clear:both;
}
.simpleregister {
    margin-bottom: 5px;
}
.simpleregister-block-content {
    margin-bottom: 10px;
    padding: 10px;
}
.simpleregister-block-content:after {
    content:"";
    display:block;
    clear:both;
}
.simpleregister-block-content .simplecheckout-table-form-left {
    width: 50%;
}
@media only screen and (max-width:600px) {
    .simpleregister-block-content .simplecheckout-customer {
        width: 100%;
    }
}
.simpleregister-button-block {
    overflow: auto;
    margin-bottom: 20px;
    padding: 6px;

    background: none repeat scroll 0 0 #FFFFFF;
    text-align:right;
}
.simpleregister-button-right {
    float: right;
    text-align: right;
}
.simpleregister-button-left {
    float: left;
    text-align: left;
}
.simplecheckout-methods-table {
    width: 100%;
}
.simplecheckout-methods-table td.code {
    width: 1px;
}
.simplecheckout-methods-table td.title {
    padding: 5px;
}
.simplecheckout-methods-table td.title label {
    display: block !important;
}
.simplecheckout-methods-table td.quote {
    width: 15%;
    text-align: right;
}
.simplecheckout-methods-description {
    padding: 5px;
    margin: 5px 0px;
}
.simplecheckout-required {
    color: #FF0000;
    font-weight: bold;
}
.simplecheckout-button-block {
    clear: both;
    overflow: auto;
    margin-bottom: 20px;
    padding: 6px;

    background: none repeat scroll 0 0 #FFFFFF;
    text-align:right;
}
.simplecheckout-button-right {
    float: none;
    display: flex;
    justify-content: center;
    text-align: right;
}
.simplecheckout-button-right a{
    margin-right: 20px;
}
.simplecheckout-button-left {
    float: left;
    text-align: left;
}
.simplecheckout-button {
    display: inline-block;
    padding: 6px 12px 6px 12px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    background: url('../image/button.png') top left repeat-x;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 12px;
    cursor: pointer;
    -khtml-border-radius: 7px 7px 7px 7px;
}
.simplecheckout-button-left .button {
    margin: 0;
}
@media only screen and (max-width:780px) {
    .simplecheckout-button-left {
        display: none;
    }
}
.simplecheckout-button:hover {
   background: url('../image/button-active.png') repeat-x;
}

#simplecheckout_customer .simplecheckout-block-content {
    text-align: center;
}
.simplecheckout-login {
    display: inline-block;
}
.simplecheckout-login-left {
    width:50%;
    text-align: left;
}
.simplecheckout-login-right {
    width:50%;
    text-align:left;
}
.simplecheckout-login-right .button {
    float: left;
    margin: 0;
}
.simplecheckout-login-right input {
    max-width: 160px !important;
    text-align:left;
}

#simplecheckout_cart .form-control {
    display: inline-block !important;
    min-width: 60px!important;
    height: 30px;
    font-family: "AvenirNextRegular";
    font-size: 18px;
    line-height: 1.94;
    text-align: center;
    color: #131313;
    font-family: 'Arimo', sans-serif;
}
.simplecheckout-cart {
    margin: 0px !important;
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}
.simplecheckout-cart-total {
    padding: 7px 3px;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    text-align: right;
}
.simplecheckout-cart-total:after {
    content:"";
    display:block;
    clear:both;
}
.simplecheckout-cart-total .buttons {
    background: inherit !important;
    padding: 0px !important;
}
.simplecheckout-cart-total input {
    margin-right: 0px !important;
    max-width: 100px;
}
.simplecheckout-cart-total span.inputs {
    margin: 0 3px 0 0 !important;
    display: inline-block !important;
}
.simplecheckout-cart-total span.inputs input[type=text]{
    margin: 0px;
}
.simplecheckout-cart-total-value {
    display: inline-block;
    margin: 0px 3px;
    min-width: 60px;
}
.simplecheckout-cart-total-remove {
    display: inline-block;
    width: 18px;
    text-align: center;
}
.simplecheckout-cart-total-remove img {
    vertical-align: -2px;
    cursor: pointer;
}
.simplecheckout-cart col.image {
    width: 5%;
}
.simplecheckout-cart col.name {

}
.simplecheckout-cart col.model {
    width: 10%;
}
.simplecheckout-cart col.quantity {

}
.simplecheckout-cart col.price {
    width: 10%;
}
.simplecheckout-cart col.total {
    width: 10%;
}
.simplecheckout-cart col.remove {
    width: 75px;
}
.simplecheckout-cart th {
    padding: 8px;
    /*border-bottom: 1px solid #DDDDDD;*/
    opacity: 0.5;
    background-color: #eee7db;
    font-size: 12px;
    text-align: center;
    color: #7a7a7a;
    font-weight: 100;

}
.simplecheckout-cart th.image {
    /*width: 1px;*/
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: static !important;
}

.simplecheckout-cart td {
    padding: 7px;
    border-bottom: 1px solid #DDDDDD;
    vertical-align: middle;
}
.simplecheckout-cart td.image {
    text-align: center;
    display: table-cell;
    vertical-align: middle !important;
    position: static !important;
}
.simplecheckout-cart td.name {
    text-align: center;
    vertical-align: middle;
}
.simplecheckout-cart td.name div.image {
    display: none;
}
.simplecheckout-cart td.model {
    text-align: center;
}
.simplecheckout-cart td.quantity {
    min-width:70px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}
.simplecheckout-cart td.quantity input {
    float: none !important;
}
.simplecheckout-cart  td.quantity .input-group {
    margin: auto !important;
}
.simplecheckout-cart  td.quantity .quantity button {
    margin: 0 !important;
}
.simplecheckout-cart td.quantity img {
    display:inline-block;
    border: 0px;
    cursor:pointer;
}
.simplecheckout-cart td.price {
    text-align: center;
    white-space: nowrap;
    font-family: "AvenirNextRegular"!important;
    display: table-cell !important;
    font-size: 16px!important;
    line-height: 1.5!important;
    color: #161616!important;
}
.simplecheckout-cart td.total {
    text-align: center;
    white-space: nowrap;
    font-family: Impact;
    font-size: 20px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #131313;
    display: table-cell !important;
}
.simplecheckout-cart td.remove {
    padding-right: 3px;
    padding-left: 3px;
    width: 7px;
    vertical-align: middle;
    text-align: center;
}
.simplecheckout-cart td.remove img {
    max-width: 30px !important;
    cursor: pointer;
}
.simplecheckout-cart td.product-warning {
    color: #FF0000;
    font-weight: bold;
}
.simplecheckout-cart td.right {
    vertical-align: middle;
    text-align: center;
}
.btn-qua{
    width: 31px;
    height: 31px;
    border: solid 1px #5b3e85!important;
    text-align: center;
    min-width: 31px!important;
    padding: 0px!important;
    line-height: 30px;
    color: #5b3e85!important;
    margin: 0!important;
    position: relative;
}
.btn-qua span{
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: #5b3e85;
    display: block;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0 auto;
}
.btn-qua span:nth-child(2){
    transform: rotate(90deg);
}
.quantity input{
    border: 0!important;
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 1.94;
    text-align: center;
    color: #131313;
}
.simplecheckout-three-column .simplecheckout-cart col.image,
.simplecheckout-three-column .simplecheckout-cart th.image,
.simplecheckout-three-column .simplecheckout-cart td.image,
.simplecheckout-three-column .simplecheckout-cart col.price,
.simplecheckout-three-column .simplecheckout-cart th.price,
.simplecheckout-three-column .simplecheckout-cart td.price,
.simplecheckout-three-column .simplecheckout-cart col.model,
.simplecheckout-three-column .simplecheckout-cart th.model,
.simplecheckout-three-column .simplecheckout-cart td.model {
    display: none;
}
.simplecheckout-three-column .simplecheckout-cart td.name .image {
    display: block;
}
.simplecheckout-scroll{
    overflow-y:scroll;
    max-height:300px;
}
.simplecheckout-error-text {
    display: block;
    margin-top: 3px;
    color: #FF0000;
}
.simplecheckout-warning-text {
    margin: 5px 0;
    font-weight: bold;
}
.simplecheckout-warning-block {
    clear: both;
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
    border: 1px solid #F8ACAC;
    border-radius: 5px 5px 5px 5px;
    background: url("../image/warning.png") no-repeat scroll 10px center #FFD1D1;
    color: #555555;
    text-align: left;
}
.simpleregister-warning-block {
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
    border: 1px solid #F8ACAC;
    border-radius: 5px 5px 5px 5px;
    background: url("../image/warning.png") no-repeat scroll 10px center #FFD1D1;
    color: #555555;
    text-align: left;
}
.simplecheckout-proceed-payment {
    display: none;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
#simple_payment_address_block {
    margin-top: 15px;
}
.simplecheckout-customer-same-address {
    text-align: left;
    margin: 15px 0px;
}
#simplecheckout_login {
    margin: auto;
    text-align: center;
}
#simplecheckout_payment_form {
    padding: 5px;
}
#simplecheckout_payment_form .checkout-content {
    display: block;
}
#simplecheckout_payment_form div.buttons {
    display: none;
}
#simplecheckout_login .simplecheckout-block-content {
    padding: 5px !important;
}
#simple_login_layer {
    position:absolute;
    top:0;
    left:0;
    z-index:99990;
    display:none;
    width:100%;
    background-color:#000000;
}
#simple_login {
    position:fixed;
    z-index:99991;
    display: none;
    padding:5px;
    width:300px;
    height:250px;
    border:1px solid #FFD9FF;
    -webkit-border-radius:7px 7px 7px 7px;
    -moz-border-radius:7px 7px 7px 7px;
    border-radius:7px 7px 7px 7px;
    background:none repeat scroll 0 0 #FFFFFF;
    -khtml-border-radius:7px 7px 7px 7px;
}
#simple_login:after {
    content:"";
    display:block;
    clear:both;
}
#simple_login_header {
    padding: 0px 0px;
    text-align: right;
}
#simple_login_header img {
    margin: 0 0 0 auto;
}
.you-will-be-registered {
    font-weight: bold;
}
.simplecheckout label, .simpleregister label {
    display: inline-block !important;
    margin: 0;
}
.simplecheckout label input, .simpleregister label input {

}
#simple_summary {
    display: none;
}
.simplecheckout-cart {
    margin: 0px !important;
    width: 100%;
    border: 0;
}
.simple-step {
    display: inline-block;
    padding: 0px;
    border-radius: 0;
    /*background-color: #38B0E3;*/
    color: #5a3d84;
    font-family: "AvenirNextRegular";
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
}
.simple-step-current{
    display: inline-block;
    padding: 0px;
    border-radius: 0;
    /*background-color: #38B0E3;*/
    color: #5a3d84;
    font-size: 24px;
}
.simple-step-delimiter {
    display: inline-block;
    vertical-align: middle;
    line-height: 13px;
    margin: 0px 5px;
}
.simple-step-completed {
    display: inline-block;

}
.simple-step-completed a {
    color: #FFFFFF !important;
    text-decoration: none !important;
    font-size: 13px !important;
}
.simplecheckout-summary-info {
    margin-top: 15px !important;
}
.simplecheckout-summary-info th.name {
    text-align: left;
}
.simplecheckout-summary-info td {
    text-align: left;
}
.simplecheckout-cart-buttons .buttons {
    border: none !important;
    padding: 0 !important;
}
#simple_login .simplecheckout-block-content {
    border: none !important;
}
#temp_flat_container {
    text-align: center;
    margin: 10px 0px 20px 0px;
}
#simplecheckout_comment textarea {
    width: 100% !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100px;
}
.simplecheckout-table-form {
    width: 49%;
    margin-right: 1%;
    float: left;
    text-align: left;
}
@media only screen and (max-width:768px) {
    .simplecheckout-table-form {
        width: 100%;
        margin-right: 0%;
        float: none;
    }
}
.simplecheckout-three-column .simplecheckout-table-form,
.simplecheckout-left-column .simplecheckout-table-form,
.simplecheckout-right-column .simplecheckout-table-form {
    width: 100%;
    margin-right: 0%;
    float: none;
}
.simplecheckout-table-form-left {
    width: 50%;
    text-align: left;
    padding: 3px;
    vertical-align: top;
}
.simplecheckout-table-form-right {
    width: 50%;
    text-align: left;
    padding: 3px;
}
.simplecheckout-table-form-right input[type=text],
.simplecheckout-table-form-right input[type=password],
.simplecheckout-table-form-right input[type=email],
.simplecheckout-table-form-right input[type=tel],
.simplecheckout-table-form-right input[type=phone],
.simplecheckout-table-form-right input[type=date],
.simplecheckout-table-form-right input[type=time],
.simplecheckout-table-form-right select,
.simplecheckout-table-form-right textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px !important;
}
.simplecheckout-table-form-right label {
    display: block !important;
}
.simplecheckout-table-form-right label input {
    margin: 0px 5px 0px 0px !important;
}
.checkout-heading:after {
    content:"";
    display:block;
    clear:both;
}
.col-sm-12 .checkout-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 7px 15px;
}
.checkout-heading span {
    display: inline-block !important;
    float: none;
}
.checkout-heading-button {
    float: right !important;
    display: inline-block !important;
}
.simplecheckout-select-address {
    text-align: left;
    margin-bottom: 10px;
}
.simple-captcha-container {
    margin-top: 5px;
}
.simplecheckout-tooltip {
    display: none;
}
#easyTooltip {
    padding:5px;
    border:1px solid #ccc;
    background:#fde910;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
    opacity:1 !important;
}
#easyTooltip:before {
    content:'';
    position:absolute;
    left:10px;
    top:-8px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #fde910;
}
.simplecheckout-cart i {
    cursor: pointer;
}

.simple-content .table-responsive{
    margin-bottom: 0 !important;
    border: none !important;
}

@media only screen and (max-width:640px) {
    .simplecheckout-cart col.image,.simplecheckout-cart th.image,.simplecheckout-cart td.image {
        display: none;
    }
    .simplecheckout-cart col.model,.simplecheckout-cart th.model,.simplecheckout-cart td.model {
        display: none;
    }
    .simplecheckout-cart col.price,.simplecheckout-cart th.price,.simplecheckout-cart td.price {
        /*display: none;*/
    }
    .simplecheckout-cart td.name div.image {
        display: block;
    }
    .simplecheckout-cart td.name div.options {
        display: none;
    }
}
@media only screen and (max-width:1000px) {
    .simplecheckout-cart col.model,.simplecheckout-cart th.model,.simplecheckout-cart td.model {
        display: none;
    }
}
@media only screen and (max-width:600px) {
    #total_shipping span:first-child {
        max-width: 300px;
        display: inline-block;
    }
    td.quantity button[data-onclick*="Quantity"] {
        display: none;
    }
}
@media only screen and (max-width:420px) {
    #total_shipping span:first-child {
        max-width: 200px;
        display: inline-block;
    }
}





/**********************************************/

.checkout-simplecheckout h1{
    display: none;
}

.simplecheckout-block {
    clear: both;
    margin-bottom: 20px;
    /*border: 1px solid #f0f0f0;*/
}
.simplecheckout-block .main-checkout-heading {
    background-color: #f0f0f0;
    padding: 11px 20.5px 12px;
}
.simplecheckout-block .main-checkout-heading .main-checkout-heading-title {
    font-size: 24px;
    text-align: left;
    color: #000000;
    line-height: normal;
}
.col-sm-12 .checkout-heading{
    border: 0px;
    font-family: "AvenirNextRegular";
    font-size: 12px;
    text-align: center;
    color: #7a7a7a;
    text-align: center;
    background-color: rgba(238, 231, 219, 0.5);
}
.simplecheckout-block-content input{
    padding: 5px 0;
}
.simplecheckout-block{
    /*margin-right: 15px;*/
    /*margin-left: 15px;*/
    /*border-color: rgba(238, 231, 219, 0.5);*/
}
.simplecheckout-block_m{
    margin-right: 0px;
    margin-left: 0px;
}
.simplecheckout-block-content{

}
.simplecheckout-block-content .form-group{

}
.simplecheckout-block-content .form-group .col-sm-3{
    width: 100%;
    text-align: left;
    color: black;
    font-size: 14px;
}
.simplecheckout-block-content .form-group .col-sm-3:before{
    display: none;
}
.simplecheckout-block-content .form-group .col-sm-9{
    width: 100%;
    margin-top: 10px;
}
.simplecheckout-block-content .form-control{
    font-size: 14px !important;
}
.simplecheckout-block .main-checkout-heading{
    background-color: rgba(238, 231, 219, 0.5);
}
#simplecheckout_comment .simplecheckout-block-content{
    padding: 10px;

}
#simplecheckout_comment .form-control{
    resize: none;
}
#simplecheckout_payment_form{
    border: 0px;
}
#simplecheckout_cart{
    margin: 0px;
}
#simplecheckout_cart .checkout-heading{
    font-size: 24px;
    line-height: normal;
    padding: 12px 15px;
}

#simplecheckout_cart .checkout_cart_wrapp{}
#simplecheckout_cart .checkout_cart_wrapp .checkout_cart_item{
    position: relative;
    overflow: hidden;
    padding: 10px 25px 10px 10px;
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_thumb{
    width: 200px;
    margin-right: 10px;
    float: left;
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_thumb img{
    max-width: 100%;
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_info{
    width: calc(100% - 210px);
    float: left;
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_info .name{
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_info .wrapp_options{
    color: black;
    padding: 10px 0px;
    font-size: 14px;
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_info .option_name{
    font-weight: bold;
    float: left;
    padding-right: 5px;
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_info .option_value{
    float: left;
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_info .qty_control{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_info .qty_control button{
    background-color: white;
    border: 0px;
    padding: 0px;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(90, 61, 132, 0.75);
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_info .qty_control button.mn:before {
    content: '-';
    position: absolute;
    line-height: normal;
    font-size: 27px;
    color: rgba(90, 61, 132, 0.75);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: -8px;
    left: 8px;
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_info .qty_control button.pl:before {
    content: '+';
    position: absolute;
    line-height: normal;
    font-size: 27px;
    color: rgba(90, 61, 132, 0.75);
    top: -6px;
    left: 5px;
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_info .qty_control button:hover {
    background-color: rgba(90, 61, 132, 0.75);
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_info .qty_control button:hover:before {
    color: white;
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_info .qty_control .form-control{
    width: auto;
    text-align: center;
    font-size: 20px;
}
#simplecheckout_cart .checkout_cart_wrapp .wrapp_info .price{
    font-family: Impact;
    font-size: 30px;
    letter-spacing: 0.6px;
    color: #131313;
    line-height: normal;
    margin-top: 15px;
}
#simplecheckout_cart .checkout_cart_wrapp .remove_btn{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 0px;
    cursor: pointer;
}
#simplecheckout_cart .checkout_cart_wrapp .remove_btn:after{
    content: '\e90e';
    font-family: icomoon;
    position: absolute;
    display: block;
    font-size: 20px;
    color: rgba(90, 61, 132, 0.75);
    top: 50%;
    left: 50%;
    -webkit-transform: translate3D(-50%, -50%, 0);
    -ms-transform: translate3D(-50%, -50%, 0);
    transform: translate3D(-50%, -50%, 0);
}
#simplecheckout_cart .total_wrapp{
    display: table;
    width: 100%;
    border-top: 1px solid rgba(238, 231, 219, 0.5);
    padding-top: 20px;
}
#simplecheckout_cart .total_item{
    display: table-row;
    padding: 5px;
}
#simplecheckout_cart .total_item > div{
    display: table-cell;
    text-align: right;
    font-size: 18px;
    padding: 5px 10px;
}
#simplecheckout_cart .total_item .text{
    color: rgba(90, 61, 132, 0.75);
    font-weight: bold;
    white-space: nowrap;
}
#simplecheckout_cart .total_item .code{
    color: black;
}
#simplecheckout_cart .inputs {
    font-size: 18px;
    color: black;
}
#simplecheckout_cart .inputs input{
    margin-left: 25px;
    text-align: right;
    color: #131313;
    font-weight: 600;
    font-size: 18px;
}
#simplecheckout_cart .simplecheckout-cart-total{
    border: 0px;

}
.simplecheckout-cart-total span{
    font-family: AvenirNextLight;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    color: #161616;
}
.simplecheckout-cart-total .simplecheckout-cart-total-value{
    font-family: Impact;
    font-size: 24px;
    letter-spacing: 0.5px;
    text-align: right;
    color: #131313;
}
#simplecheckout_cart .simplecheckout-cart-total-remove{
    display: none;
}
.simplecheckout-warning-block{
    border-radius: 0px;
    margin: 5px;
    padding: 10px;
    width: calc(100% - 10px);
}
.step-container{
    float: left;
    margin-right: 55px;
    /*width: 33.3333% ;*/
}
.step-container:last-child{
    margin-right: 0;
}
.step-count{
    width: 40px;
    height: 40px;
    /*background-color: #63478a;*/
    border: solid 1px #5a3d84;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    color: #5a3d84;
    font-size: 18px;
    display: block;
    float: left;
    margin-right: 10px;
}
.simple-step-current .step-count{
    background-color: #63478a;
    color: #fff;
}
.step-menu{
    margin-bottom: 35px;
    display: flex;
    justify-content: flex-start;
}
.total{
    font-size: 20px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #131313;
}
.price{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #161616;
}
.options{
    font-size: 11px;
    text-align: center;
    color: #7a7a7a;
    font-family: "AvenirNextRegular";
    font-size: 11px;
    color: #7a7a7a;
}
.options span{
    margin-right: 20px;
}
.close-cart{
    border: 0!important;
    padding: 0!important;
    color: #63478a!important;
    font-size: 30px!important;
    min-width: 20px !important;
}
.step_info{
    display: block;
    font-family: "AvenirNextRegular";
    font-size: 11px;
    text-align: left;
    color: #7a7a7a;
}
@media screen and (max-width: 380px){
    #simplecheckout_cart .checkout_cart_wrapp .wrapp_thumb{
        width: 100%;
        margin: 0px;
        text-align: center;
    }
    #simplecheckout_cart .checkout_cart_wrapp .wrapp_info{
        width: 100%;
        text-align: center;
    }
    #simplecheckout_cart .checkout_cart_wrapp .wrapp_info .qty_control{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #simplecheckout_cart .checkout_cart_wrapp .wrapp_info .wrapp_options{
        text-align: center;
    }
    #simplecheckout_cart .checkout_cart_wrapp .wrapp_info .price{
        text-align: center;
    }
}
