html,
body {
  height: 100%;
}
.f_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.f_content{
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.f_footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
*{
  outline: 0px;
}
a:focus{
  outline: 0px !important;
}
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css?family=Arimo');

$mainfont: 'AvenirNextRegular';
$arimo: 'Arimo', sans-serif;
$impact: Impact;
$color: rgb(90, 61, 132);

a, a:hover{
  color: $color;
}
body{
  background: url("../image/body_bg.png");
  background-attachment: fixed;
}
.container, .f_content, .f_footer{
  margin: 0 auto;
  width: 1200px;
  background-color: white;
}
.f_content, .f_footer{
  position: relative;
  &:before, &:after{
    content: '';
    position: absolute;
    background-color: white;
    width: 120px;
    top: 0px;
    height: 100%;
  }
  &:before{
    right: 100%;
  }
  &:after{
    left: 100%;
  }
}

header{
  .container{
    padding: 4px 15px 5px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .logo_wrapp{
    max-width: 140px;
    img{
      min-width: 140px;
    }
    .mobile_logo{
      display: none;
      min-width: 260px;
    }
  }
  .left_logo, .right_logo{
    height: 211px;
    width: calc(50% - 76px);
    position: relative;
    .text{
      font-family: 'CourierNew';
      font-size: 18px;
      letter-spacing: 1.5px;
      text-align: center;
      color: #464646;
      padding: 0px 8px;
      background: white;
      position: relative;
      z-index:2;
    }
    &:before, &:after{
      content: '';
      height: 2px;
      background: -webkit-gradient(linear, right top, left top, from(#f0d8a3), to(#8f754b));
      background: -webkit-linear-gradient(right, #f0d8a3, #8f754b);
      background: -o-linear-gradient(right, #f0d8a3, #8f754b);
      background: linear-gradient(to left, #f0d8a3, #8f754b);
      position: absolute;
    }
    &:before{
      top:44%;

    }
    &:after{
      top:49%;
    }
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .left_logo{
    background: url("../image/molding1.jpg") no-repeat right;
    margin-right: 15px;
    .text{
      margin-right: 80px;
      margin-top: -15px;
    }
    &:before, &:after {
      left: 0px;
      width: 84%;
    }
  }
  .right_logo{
    background: url("../image/molding2.jpg") no-repeat left;
    margin-left: 15px;
    .text{
      margin-left: 76px;
      margin-top: -15px;
    }
    &:before, &:after {
      width: 85%;
      right: 0px;
    }
  }
}

#right_header{
  width: 120px;
  text-align: center;
  position: fixed;
  z-index:111;
  padding-top: 24px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: -8px;
  display: none;
  //top: 0px;
  .sticky{
    text-align: center;
  }
  .search_link{
    display: block;
  }
  .cart_link{
    display: block;
  }
}
.cart_wrapp{
  .cart_link{
    position: relative;
    text-align: center;
    font-family: $mainfont;
    font-size: 17px;
    color: #464646;
    height: 134px;
    width: 97px;
    padding: 50px 0px 0px 0px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    span{
      font-family: AvenirNextRegular;
      font-size: 12px;
      color: #777777;
    }
    &:before{
      content: url("../image/shopping-bag-1.svg");
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 0px;
      z-index:-1;
    }
  }
  &.has-product{
    .cart_link {
      color: white;
      span{
        color: white;
      }
      &:before {
        height: 100%;
        width: 100%;
        font-size: 130px;
        content: '\e909';
        font-family: icomoon;
        color: $color;
        line-height: normal;
      }
    }
  }
}
.wishlist{
  text-align: center;
  padding-bottom: 21px;
  .wishlist-total{
    margin: 25px auto 0px auto;
    display: block;
    width: 27px;
    height: 26px;
    background: url("../image/star_sprite.png") no-repeat;
    background-position: -5px -41px;
    position: relative;
    &:after{
      content: '';
      height: 1px;
      width: 47px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: -21px;
      background-color: #e4e4e4;
    }
  }
  &.has_product{
    .wishlist-total {
      background-position: -5px -5px;
    }
  }
  &:hover{
    background-position: -43px -5px;
    .info{
      opacity: 1;
      z-index: 10;
      top: calc(100% + 7px);
    }
  }
  .info{
    -webkit-transition: 0.15s ease all;
    -o-transition: 0.15s ease all;
    transition: 0.15s ease all;
    z-index:2;
    padding-top: 3px;
    position: absolute;
    opacity: 0;
    top: calc(100% + 25px);
    left: 50%;
    width: 103px;
    height: 28px;
    border-radius: 3px;
    background-color: #f9f5ec;
    border: solid 1px #f9f2df;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: $mainfont;
    font-size: 12px;
    text-align: center;
    color: #464646;
  }
}
.curremcies_wrapp{
  position: relative;
  text-align: center;
  width: 47px;
  border-bottom: solid 1px #e4e4e4;
  margin: 0 auto;
  padding: 5px 0px 10px 0px;
  margin-top: 14px;
  position: relative;
  z-index: 4;
  .currencies_btn{
    text-align: left;
    position: relative;
    color: $color;
    font-family: $arimo;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 0px;
    &.active{
      &:after{
        content: '\e90e';
        font-family: icomoon;
        font-size: 8px;
      }
    }
    &:after{
      content: '\f0d7';
      font-family: FontAwesome;
      color: $color;
      font-size: 12px;
      position: absolute;
      right: 0px;
      top: 50%;
      font-size: 14px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .all_currencies{
    display: none;
    list-style: none;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    text-align: left;
    li{
      padding: 10px 0px;
      button{
        padding: 0px;
        background-color: white;
        border: 0px;
        color: #161616;
        font-size: 16px;
        &:hover{
          color: $color;
        }
      }
    }
  }
  &:hover{
    z-index: 6;
    .info{
      opacity: 1;
      z-index: 10;
      top: calc(100% - 1px);
    }
  }
  .info{
    -webkit-transition: 0.15s ease all;
    -o-transition: 0.15s ease all;
    transition: 0.15s ease all;
    z-index:2;
    padding-top: 3px;
    position: absolute;
    opacity: 0;
    top: calc(100% + 25px);
    left: 50%;
    width: 103px;
    height: 28px;
    border-radius: 3px;
    background-color: #f9f5ec;
    border: solid 1px #f9f2df;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: $mainfont;
    font-size: 12px;
    text-align: center;
    color: #464646;
  }
}
.language_wrapp{
  position: relative;
  text-align: center;
  width: 47px;
  border-bottom: solid 1px #e4e4e4;
  margin: 0 auto;
  padding: 5px 0px 10px 0px;
  margin-top: 14px;
  position: relative;
  z-index:3;
  .languages_btn{
    text-align: left;
    position: relative;
    color: $color;
    font-family: $arimo;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 0px;
    text-transform: uppercase;
    &.active{
      &:after{
        content: '\e90e';
        font-family: icomoon;
        font-size: 8px;
      }
    }
    &:after{
      content: '\f0d7';
      font-family: FontAwesome;
      color: $color;
      font-size: 12px;
      position: absolute;
      right: 0px;
      top: 50%;
      font-size: 14px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .all_languages{
    display: none;
    list-style: none;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    text-align: left;
    li{
      padding: 10px 0px;
      a{
        padding: 0px;
        background-color: white;
        border: 0px;
        color: #161616;
        font-size: 16px;
        display: block;
        text-transform: uppercase;
        &:hover{
          color: $color;
        }
      }
    }
  }
  &:hover{
    z-index: 5;
    .info{
      opacity: 1;
      z-index: 10;
      top: calc(100% - 1px);
    }
  }
  .info{
    -webkit-transition: 0.15s ease all;
    -o-transition: 0.15s ease all;
    transition: 0.15s ease all;
    z-index:2;
    padding-top: 3px;
    position: absolute;
    opacity: 0;
    top: calc(100% + 25px);
    left: 50%;
    width: 103px;
    height: 28px;
    border-radius: 3px;
    background-color: #f9f5ec;
    border: solid 1px #f9f2df;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: $mainfont;
    font-size: 12px;
    text-align: center;
    color: #464646;
  }
}
.search_link{
  width: 47px;
  margin: 20px auto 0px auto;
  padding: 10px 0px 14px 0px;
  border-bottom: solid 1px #e4e4e4;
  position: relative;
  z-index: 5;
  &:hover{
    z-index: 7;
    .info{
      opacity: 1;
      z-index: 10;
      top: calc(100% - 1px);
    }
  }
  .info{
    -webkit-transition: 0.15s ease all;
    -o-transition: 0.15s ease all;
    transition: 0.15s ease all;
    z-index:2;
    padding-top: 3px;
    position: absolute;
    opacity: 0;
    top: calc(100% + 25px);
    left: 50%;
    width: 103px;
    height: 28px;
    border-radius: 3px;
    background-color: #f9f5ec;
    border: solid 1px #f9f2df;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: $mainfont;
    font-size: 12px;
    text-align: center;
    color: #464646;
  }
  .icon{
    color: $color;
    font-size: 25px;
  }
}
.login_wrapp{
  position: relative;
  z-index:6;
  .login_link{
    margin: 19px auto 0px auto;
    width: 47px;
    display: block;
    padding: 10px 0px 14px 0px;
    border-bottom: solid 1px #e4e4e4;
    .icon{
      color: $color;
      font-size: 26px;
    }
  }
  &:hover{
    z-index: 8;
    .info{
      opacity: 1;
      z-index: 10;
      top: calc(100% - 1px);
    }
  }
  .info{
    -webkit-transition: 0.15s ease all;
    -o-transition: 0.15s ease all;
    transition: 0.15s ease all;
    z-index:2;
    padding-top: 3px;
    position: absolute;
    opacity: 0;
    top: calc(100% + 25px);
    left: 50%;
    width: 103px;
    height: 28px;
    border-radius: 3px;
    background-color: #f9f5ec;
    border: solid 1px #f9f2df;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: $mainfont;
    font-size: 12px;
    text-align: center;
    color: #464646;
  }
}

#search_popup{
  position: relative;
  z-index: 6;
  .fancy_head{
    padding-left: 84px;
    position: relative;
    &:before{
      content: '\e90b';
      font-family: icomoon;
      font-size: 26px;
      position: absolute;
      top: 50%;
      left: 32px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: $color;
    }
  }
}
#request_call-modal{
  .fancy_head{
    padding-left: 84px;
    position: relative;
    &:before{
      content: '\e90c';
      font-family: icomoon;
      font-size: 26px;
      position: absolute;
      top: 50%;
      left: 32px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: $color;
    }
  }
  .btn_wrapp{
    text-align: right;
    button{

    }
  }
  label.error{
    color: #ff4c4d;
  }
}
#request_call-form{
  input{
    border-radius: 0px;
    border: 0px;
    -webkit-box-shadow: none  ;
    box-shadow: none  ;
    color: black;
    font-family: $mainfont;
    border-bottom: solid 1px #e8e8e8;
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #999999;
      font-family: $mainfont;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #999999;
      font-family: $mainfont;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #999999;
      font-family: $mainfont;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #999999;
      font-family: $mainfont;
    }
    &:focus{
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-source: linear-gradient(to right, #90764c, #e6ce9a 51%, #90764c);
      border-image-slice: 1;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: transparent;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: transparent;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: transparent;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: transparent;
      }
    }
  }
}
#search{
  margin: 0px;
  margin-top: 29px;
  input{
    border: 0px;
    border-bottom: solid 1px #e8e8e8;
    width: 100%;
    font-family: $mainfont;
    padding: 5px 0px;
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #999999;
      font-family: $mainfont;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #999999;
      font-family: $mainfont;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #999999;
      font-family: $mainfont;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #999999;
      font-family: $mainfont;
    }
    &:focus{
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-source: linear-gradient(to right, #90764c, #e6ce9a 51%, #90764c);
      border-image-slice: 1;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: transparent;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: transparent;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: transparent;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: transparent;
      }
    }
  }
  button{
    border: solid 1px #e8e8e8;
    font-family: $mainfont;
    font-size: 16px;
    text-align: center;
    color: #161616;
    padding: 14px 20px;
    margin-top: 34px;
    width: 198px;
    background-color: white;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
    &:hover{
      background-color: #f9f5eb;
    }
  }
}

.main_menu{
  margin-top: 5px;
  #menu{}
  .hamburger{
    display: none;
  }
  .shecter{
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
    background-color: white;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    cursor: pointer;
    &:after{
      content: '\e912';
      font-family: icomoon;
      position: absolute;
      left: 50%;
      font-size: 40px;
      -webkit-transition: 0.5s ease all;
      -o-transition: 0.5s ease all;
      transition: 0.5s ease all;
      top: 50%;
      -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
      transform: translate3D(-50%, -50%, 0);
      color: $color;
    }
    &:hover{
      &:after{
        -webkit-transform: translate3D(-50%, calc(-50% - 1px), 0) rotate(90deg);
        -ms-transform: translate3D(-50%, calc(-50% - 1px), 0) rotate(90deg);
        transform: translate3D(-50%, calc(-50% - 1px), 0) rotate(90deg);
      }
    }
    &.is-active{
      &:after{
        -webkit-transform: translate3D(-50%, calc(-50% - 1px), 0) rotate(90deg);
        -ms-transform: translate3D(-50%, calc(-50% - 1px), 0) rotate(90deg);
        transform: translate3D(-50%, calc(-50% - 1px), 0) rotate(90deg);
      }
    }
  }
  .dropdown-menu{
    background: transparent;
  }
  .first_level{
    padding: 0px 0px;
    list-style: none;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0px;
    position: relative;
    border-bottom: 1px solid transparent;
    & > li{
      padding: 0px 0px;
      position: static;
      width: 100%;

      a{
        font-family: $mainfont;
        font-size: 17px;
        text-align: center;
        color: #161616;
        display: block;
        padding: 17px 30px 13px 30px;
        white-space: nowrap;
        position: relative;
        .open_child{
          display: none;
          position: absolute;
          right: 5px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 25px;
          height: 25px;
          background-color: white;
          &.is-active{
            -webkit-transform: translateY(-50%) rotate(180deg);
            -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
          }
          &:after{
            content: '\e910';
            font-family: icomoon;
            font-size: 12px;
            color: $color;
            top: 50%;
            left: 50%;
            font-size: 22px;
            position: absolute;
            -webkit-transform: translate3D(-50%, -50%, 0) rotate(90deg);
            -ms-transform: translate3D(-50%, -50%, 0) rotate(90deg);
            transform: translate3D(-50%, -50%, 0) rotate(90deg);
          }
        }
        &:hover{
          color: $color;
        }
      }
    }
    .dropdown-menu{
      width: 100%;
      border: 0px;
      margin: 0px !important;
      padding-top: 0px;
      -webkit-box-shadow: none;
      box-shadow: none;
      z-index:10000;
      .dropdown-inner{
        width: 100%;
      }
    }
  }
  .secound_level{
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to right, #90764c, #e6ce9a 53%, #90764c);
    border-image-slice: 1;
    padding: 30px 20px 30px 20px;
    position: relative;
    & > li{
      width: 100%;
    }
    li{
      a{
        display: block;
        padding: 5px 24px;
        text-align: left;
        &:hover{
          background-color: white;
          background-image: none;
        }
      }
    }
  }
  .third_level{
    padding-left: 25px;
    padding-top: 19px;
    li{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        left: 2px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        background-color: $color;
      }
      a{
        padding: 5px 15px 5px 20px;
        text-align: left;
        font-family: $mainfont;
        font-size: 15px;
        line-height: 1.5;
        color: #161616;
      }
    }
  }
  &.fine_menu{
    .first_level{
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-source: linear-gradient(to left, #90764c, #efd7a2 56%, #8f754b);
      border-image-slice: 1;
      .dropdown-menu{
        top: calc(100% + 1px);
      }
      & > li{
        background-color: rgba(238, 231, 219, 0.5);
        &:hover{
          background-color: #eee7db;
        }
        & > a{
          position: relative;
          &:hover{
            &:after{
              content: '';
              position: absolute;
              bottom: -1px;
              width: 100%;
              height: 1px;
              left: 0px;
              background-color: #90764c;
            }
          }
        }
      }
    }
  }
}
.fixed_menu{
  display: none;
  background-color: white;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0px;
  z-index:10;
  position: fixed;
  &:after{
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0px;
    z-index:2;
    background: -webkit-gradient(linear, left top, right top, from(#90764c), color-stop(51%, #e6ce9a), to(#90764c));
    background: -webkit-linear-gradient(left, #90764c, #e6ce9a 51%, #90764c);
    background: -o-linear-gradient(left, #90764c, #e6ce9a 51%, #90764c);
    background: linear-gradient(to right, #90764c, #e6ce9a 51%, #90764c);
  }
  .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .fixed_logo{
    padding: 0px 5px;
    img{
      max-width: 100%;
    }
  }
  .first_level{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    li{
      width: 100%;
      a{
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        padding: 5px 10px;
        height: 60px;
        line-height: 51px;
        font-family: $mainfont;
        font-size: 18px;
        text-align: center;
        white-space: nowrap;
        color: #161616;
        -webkit-transition: 0.2s ease all;
        -o-transition: 0.2s ease all;
        transition: 0.2s ease all;
        &:hover{
          background: rgba(238, 231, 219, 0.5);
        }
      }
    }
  }
}

.main_slideshow{
  margin-top: 10px;
  & > .slideshow_item{
    display: none;
    &:first-child{
      display: block;
    }
    img{

    }
  }
  .slideshow_item{
    img{
      &.mob_banner{
        display: none;
      }
    }
  }
  .slick-arrow{
    position: absolute;
    cursor: pointer;
    left: -28px;
    height: 22px;
    width: 12px;
    &:after{
      font-family: icomoon;
      color: #161616;
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 18px;
      -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
      transform: translate3D(-50%, -50%, 0);
    }
    &:hover{
      &:after{
        color: $color;
      }
    }
    &.prev_arrow{
      top: calc(50% - 32px);
      &:after{
        content: '\e90f';
      }
    }
    &.next_arrow{
      top: calc(50% + 8px);
      &:after{
        content: '\e910';
      }
    }
  }
  .slick-list{
    .slick-track{

    }
  }
  .slick-dots{
    position: absolute;
    bottom: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 15px;
    li{
      width: 11px;
      height: 11px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background-color: transparent;
      border-radius: 50%;
      &.slick-active{
        background-color: #f8e0a4;
        border-color: #f8e0a4;
      }
      button{
        display: none;
      }
    }
  }
}

#manufacturer_carusel{
  padding: 0px 30px;
  &>.carusel_item:not(:first-child){
    display: none;
  }
  .slick-arrow{
    position: absolute;
    top: calc(50% - 4px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
    height: 23px;
    &:after{
      font-family: icomoon;
      font-size: 16px;
      color: #161616;
      position: absolute;
      top:50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    &:hover{
      &:after{
        color: $color;
      }
    }
    &.prev_arrow{
      left: 1px;
      &:after{
        content: '\e90f';
        left: 0px;
      }
    }
    &.next_arrow{
      right: 0px;
      &:after{
        content: '\e910';
        right: 0px;
      }
    }
  }
  .slick-list{

  }
  .slick-track{

  }
  .carusel_item{
    img{
      margin: 0 auto;
    }
  }
}

.latest_wrapp{
  border-top-style: solid;
  border-top-width: 1px;
  border-image-source: linear-gradient(to left, #90764c, #efd7a2 56%, #8f754b);
  border-image-slice: 1;
  margin-top: 28px;
  .title{
    text-align: center;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: calc(50% + 1px);
      left: 0px;
      height: 1px;
      width: 100%;
      border-top-style: solid;
      border-top-width: 1px;
      border-image-source: linear-gradient(to left, #90764c, #efd7a2 56%, #8f754b);
      border-image-slice: 1;
    }
    h3{
      display: inline-block;
      background-color: white;
      padding: 0px;
      margin: 0px;
      a{
        background-color: white;
        position: relative;
        font-family: $mainfont;
        font-size: 18px;
        text-align: center;
        color: #161616;
        display: block;
        padding: 16px 106px;
        &:hover{
          &:after{
            right: 22px;
          }
        }
        &:after{
          position: absolute;
          -webkit-transition: 0.3s ease all;
          -o-transition: 0.3s ease all;
          transition: 0.3s ease all;
          content: '\e907';
          font-family: icomoon;
          color: #161616;
          right: 14px;
          top: calc(50% + 1px);
          font-size: 11px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }
  }
  .product_wrapp{
    margin-top: 45px;
    padding: 0px 25px;
    .slick-list{
    }
    & > .product-layout{
      display: none;
      width: 33.3332%;
      float: left;
      &:nth-child(1), &:nth-child(2), &:nth-child(3){
        display: block;
      }
    }
    .slick-arrow{
      position: absolute;
      top: calc(50% - 4px);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
      width: 25px;
      height: 23px;
      z-index:2;
      &:before{
        font-family: icomoon;
        font-size: 16px;
        color: #161616;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      &:hover{
        &:before{
          color: $color;
        }
      }
      &.next_arrow{
        right: 0px;
        &:before{
          content: '\e910';
          right: 0px;
        }
      }
      &.prev_arrow{
        left: 0px;
        &:before{
          content: '\e90f';
          left: 0px;
        }
      }
    }
  }
}
.main_about_as{
  border-top-style: solid;
  border-top-width: 1px;
  border-image-source: linear-gradient(to left, #90764c, #efd7a2 56%, #8f754b);
  border-image-slice: 1;
  .title{
    text-align: center;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: calc(50% + 1px);
      left: 0px;
      height: 1px;
      width: 100%;
      border-top-style: solid;
      border-top-width: 1px;
      border-image-source: linear-gradient(to left, #90764c, #efd7a2 56%, #8f754b);
      border-image-slice: 1;
    }
    h3{
      display: inline-block;
      background-color: white;
      padding: 0px;
      margin: 0px;
      a{
        background-color: white;
        position: relative;
        font-family: $mainfont;
        font-size: 18px;
        text-align: center;
        color: #161616;
        display: block;
        padding: 16px 106px;
        &:hover{
          &:after{
            right: 22px;
          }
        }
        &:after{
          position: absolute;
          content: '\e907';
          -webkit-transition: 0.3s ease all;
          -o-transition: 0.3s ease all;
          transition: 0.3s ease all;
          font-family: icomoon;
          color: #161616;
          right: 14px;
          top: calc(50% + 1px);
          font-size: 11px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }
  }
  .wrapp_baner{
    margin-top: 28px;
    text-align: center;
    img{
      max-width: 100%;
    }
  }
  ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 84px;
    margin-top: 21px;
    position: relative;
    padding-bottom: 28px;
    margin-bottom: 46px;
    &:after{
      content: '';
      position: absolute;
      background: -webkit-gradient(linear, right top, left top, from(#90764c), color-stop(56%, #efd7a2), to(#8f754b));
      background: -webkit-linear-gradient(right, #90764c, #efd7a2 56%, #8f754b);
      background: -o-linear-gradient(right, #90764c, #efd7a2 56%, #8f754b);
      background: linear-gradient(to left, #90764c, #efd7a2 56%, #8f754b);
      bottom: 0px;
      left: 99px;
      height: 1px;
      width: calc(100% - 198px);
    }
    li{
      width: 170px;
      height: 170px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 50%;
      margin: 0px 15px;
      position: relative;
      padding: 2px;
      background: -webkit-gradient(linear, left top, left bottom, from(#90764c), color-stop(54%, #ecd49f), to(#90764c));
      background: -webkit-linear-gradient(top, #90764c, #ecd49f 54%, #90764c);
      background: -o-linear-gradient(top, #90764c, #ecd49f 54%, #90764c);
      background: linear-gradient(to bottom, #90764c, #ecd49f 54%, #90764c);
      &:after {
        content: '';
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        top: 3px;
        left: 3px;
        position: absolute;
        background-color: white;
        border-radius: 50%;
        -webkit-transition: 0.2s ease all;
        -o-transition: 0.2s ease all;
        transition: 0.2s ease all
      }
      &:hover{
        p{
          color: white;
        }
        &:after{
          background: -webkit-linear-gradient(305deg, #91774d, #e3cb97 49%, #ead29d 53%, #90764c);
          background: -o-linear-gradient(305deg, #91774d, #e3cb97 49%, #ead29d 53%, #90764c);
          background: linear-gradient(145deg, #91774d, #e3cb97 49%, #ead29d 53%, #90764c);
        }
      }
      p{
        position: relative;
        font-family: $mainfont;
        font-size: 17px;
        line-height: 1.24;
        text-align: center;
        color: #161616;
        margin: 0px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index:3;
      }
    }
  }
  & > p{
    text-align: center;
    font-family: $mainfont;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    color: #777777;
  }
}


.product-layout{
  padding: 5px 20px 5px 20px;
  .product-thumb{
    background-color: white;
    border: 0px;
    overflow: inherit;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 85px;
    padding-top: 20px;
    overflow: hidden;
    .image{
      a{
        &:hover{
          opacity: 1;
        }
      }
      img{

      }
    }
    .name{
      text-align: center;
      margin-top: 18px;
      a{
        font-family: $mainfont;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #161616;
      }
    }
    .price{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 20px;
      .price-new{
        white-space: nowrap;
        font-family: $impact;
        font-size: 30px;
        letter-spacing: 0.7px;
        text-align: center;
        color: #131313;
        line-height: 30px;
      }
      .price-old{
        white-space: nowrap;
        font-family: $impact;
        text-decoration: line-through;
        font-size: 15px;
        letter-spacing: 0.3px;
        text-align: center;
        color: #acacac;
      }
    }
    .sizes{
      background-color: #f7f7f7;
      position: absolute;
      left: 0px;
      bottom: 0px;
      opacity: 0;
      -webkit-transition: 0.2s ease all;
      -o-transition: 0.2s ease all;
      transition: 0.2s ease all;
      width: 100%;
      ul{
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        li{
          font-family: $mainfont;
          font-size: 15px;
          text-align: center;
          color: #000000;
          padding: 12px 10px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border: solid 1px #dfdfdf;
          &:not(:first-child){
            margin-left: -1px;
          }
        }
      }
    }
    &:hover{
      -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
      .sizes{
        opacity: 1;
      }
      .wrapp_whbtn {
        opacity: 1;
        right: 20px;
      }
    }
    .wrapp_whbtn{
      position: absolute;
      right: -25px;
      top: 20px;
      opacity: 0;
      -webkit-transition: 0.3s ease all;
      -o-transition: 0.3s ease all;
      transition: 0.3s ease all;
      button{
        border: 0px;
        width: 27px;
        height: 26px;
        background: none;
        padding: 0px;
        background: url("../image/star_sprite.png") no-repeat;
        background-position: -4px -41px;
        &:disabled{
          background-position: -5px -5px
        }
      }
      .remove{
        width: 35px;
        height: 35px;
        display: block;
        position: relative;
        background: transparent;
        &:after{
          content: '\e90e';
          font-family: icomoon;
          left: 50%;
          top:50%;
          font-size: 32px;
          position: absolute;
          -webkit-transform: translate3D(-50%, -50%, 0);
          -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
          color: rgba(255, 0, 0, 0.79);
        }
      }
    }
  }
}

.product-page{
  .breadcrumb{
    padding: 14px 0px 15px 0px;
    margin-bottom: 25px;
  }
  .wrapp_thumb{
    position: relative;
  }
  .thumbnails{
    margin: 0px;
    & > li{
      margin-left: 0px;
    }
    & > .item:not(:first-child){
      display: none;
    }
    .image-additional{
      margin-left: 0px;
      max-width: none;
    }
    .thumbnail{
      padding: 0px;
      border: 0px;
      border-radius: 0px;
      margin-bottom: 0px;
      &:focus{
        outline: 0px;
      }
    }
    .slick-list{
      padding: 0px 50px;
    }
    .slick-arrow{
      position: absolute;
      top: calc(50% - 4px);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
      width: 25px;
      height: 23px;
      z-index:2;
      &:before{
        font-family: icomoon;
        font-size: 20px;
        color: #161616;
        position: absolute;
        top: 50%;
        -webkit-transform: translate3D(-50%, -50%, 0);
        -ms-transform: translate3D(-50%, -50%, 0);
        transform: translate3D(-50%, -50%, 0);
        left: 50%;
      }
      &:hover{
        &:before{
          color: $color;
        }
      }
      &.next_arrow{
        right: 0px;
        &:before{
          content: '\e910';
        }
      }
      &.prev_arrow{
        left: 0px;
        &:before{
          content: '\e90f';
        }
      }
    }
  }
  .wrapp_dots{
    position: absolute;
    top: 0px;
    left: 0px;
    .slick-list{
      height: auto !important;
    }
    .slick-track{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .item{
      &.slick-current{
        border: solid 1px #5a3d84;
        color: #5a3d84;
      }
      cursor: pointer;
      padding-top: 4px;
      width: 29px !important;
      height: 29px !important;
      border-radius: 50%;
      font-family: $arimo;
      font-size: 13px;
      color: black;
      text-align: center;
    }
  }
  .right-col-product{
    padding: 0px 10px;
  }
  h1{
    font-family: $mainfont;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    color: #161616;
  }
  .text_info{
    font-family: $mainfont;
    font-size: 16px;
    color: #161616;
    background-color: rgba(238, 231, 219, 0.5);
    margin-top: 3px;
    padding: 7px 28px 8px 18px;
    display: inline-block;
    span{
      color: $color;
    }
  }
  .price{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0px;
    margin: 0px;
    margin-top: 12px;
    padding-left: 6px;
    margin-bottom: 6px;
    li{
      .old_price{
        font-family: $impact;
        font-size: 15px;
        letter-spacing: 0.3px;
        text-align: center;
        color: #acacac;
        line-height: normal;
        margin-left: 25px;
        line-height: 24px;
        text-decoration: line-through;
        padding: 0px 5px;
      }
      .new_price{
        font-family: $impact;
        font-size: 30px;
        letter-spacing: 0.6px;
        text-align: center;
        color: #131313;
        line-height: normal;
      }
    }
  }
  .radio_wrapp{
    &.has-error{
      .radio{
        color: black;
      }
    }
    .control-label{
      font-family: $mainfont;
      font-size: 16px;
      color: #ffffff;
      background-color: rgba(90, 61, 132, 0.75);
      width: 100%;
      margin: 0px;
      padding: 12px 35px 13px 23px;
      position: relative;
      margin-top: 17px;
      cursor: pointer;
      &:after{
        content: '\e90e';
        font-family: icomoon;
        width: 15px;
        height: 15px;
        position: absolute;
        top: calc(50% - 3px);
        right: 14px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      &.closed{
        &:after{
          content: '\e910';
          -webkit-transform: translateY(-50%) rotate(90deg);
          -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
          top: calc(50% + 4px);
        }
      }
    }
    .opt_wrapp{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 16px;
      &.size_opt{
        .radio{
          margin: 0px 7px 8px 7px;
        }
        input:checked + label{
          border: 1px solid $color;
        }
        label{
          min-width: 70px;
          height: 40px;
          background-color: #f7f7f7;
          font-family: $mainfont;
          font-size: 15px;
          text-align: center;
          color: #000000;
          padding: 9px 3px 0px 3px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border: 1px solid #f7f7f7;
        }
      }
      &.color_opt{
        .radio{
          margin-right: 10px;
          margin-bottom: 10px;
          color: black;
        }
        input:checked + label{
          outline: 1px solid $color;
        }
        label{
          padding: 0px;
          border: 4.5px solid white;
          outline: 1px solid transparent;
          img{
            width: 40px;
            height: 40px;
            max-width: 100%;
          }
        }
      }
      .radio{
        margin: 0px;
        input{
          display: none;
        }
      }
    }
  }
  .button_group{
    margin-top: -3px;
    #button-cart{
      border: solid 1px #edd5a0;
      position: relative;
      padding-left: 65px;
      &:before{
        content: '\e90a';
        font-family: icomoon;
        position: absolute;
        font-size: 22px;
        left: 26px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    .one_click{
      border: solid 1px #edd5a0;
      position: relative;
      margin-top: 31px;
      padding-left: 60px;
      &:before{
        content: '\e905';
        font-family: icomoon;
        position: absolute;
        font-size: 22px;
        left: 33px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
  .btn_wishlist{
    width: 27px;
    height: 26px;
    border: 0px;
    padding: 0px;
    //background: url('../image/star_sprite.png') no-repeat;
    background: url('../image/black_star.png') no-repeat;
    //background-position: -5px -40px;
    margin-top: 28px;
    &:disabled{
      background: url('../image/star_sprite.png') no-repeat;
      background-position: -5px -6px;
    }
  }
  .main_description, .otpravka{
    .heading{
      font-family: $mainfont;
      font-size: 16px;
      color: #ffffff;
      background-color: rgba(90, 61, 132, 0.75);
      width: 100%;
      margin: 0px;
      padding: 12px 35px 13px 23px;
      position: relative;
      margin-top: 17px;
      cursor: pointer;
      &:after{
        content: '\e90e';
        font-family: icomoon;
        width: 15px;
        height: 15px;
        position: absolute;
        top: calc(50% - 3px);
        right: 14px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      &.closed{
        &:after{
          content: '\e910';
          -webkit-transform: translateY(-50%) rotate(90deg);
          -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
          top: calc(50% + 4px);
        }
      }
    }
    .description{
      padding: 20px 5px;
      display: none;
    }
  }
  .description *{
    font-family: $mainfont !important;
    color: #161616 !important;
  }
  .related_wrapp{
    margin-top: 40px;
    .title{
      position: relative;
      h3{
        font-family: $mainfont;
        font-size: 18px;
        text-align: center;
        color: #161616;
        background-color: white;
        position: relative;
        z-index: 2;
        display: inline-block;
        margin: 0px;
        padding-right: 40px;
      }
      &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0px;
        top:50%;
        background: -webkit-gradient(linear, left top, right top, from(#f0d8a3), to(#8f754b));
        background: -webkit-linear-gradient(left, #f0d8a3, #8f754b);
        background: -o-linear-gradient(left, #f0d8a3, #8f754b);
        background: linear-gradient(to right, #f0d8a3, #8f754b);
      }
    }
    .related{
      margin-top: 20px;
      padding-left: 50px;
      .slick-list{
        margin: 0px -15px;
      }
      .product-layout{
        width: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px 15px;
        float: left;
      }
      .slick-arrow{
        position: absolute;
        cursor: pointer;
        width: 25px;
        height: 23px;
        z-index:2;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        &:before{
          font-family: icomoon;
          font-size: 20px;
          color: #161616;
          position: absolute;
          top: 50%;
          -webkit-transform: translate3D(-50%, -50%, 0);
          -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
          left: 50%;
        }
        &:hover{
          &:before{
            color: $color;
          }
        }
        &.next_arrow{
          left: 15px;
          top: calc(50% + 20px);
          &:before{
            content: '\e910';
          }
        }
        &.prev_arrow{
          left: 15px;
          top: calc(50% - 20px);
          &:before{
            content: '\e90f';
          }
        }
      }
    }
  }
}

.custom_fancy_popup{
  .fancybox-nav{
    &.fancybox-prev{
      &:before{
        content: '\e90f';
        left: 4px;
      }
    }
    &.fancybox-next{
      &:before{
        content: '\e910';
        right: 4px;
      }
    }
    &:before{
      font-family: icomoon;
      font-size: 20px;
      color: #161616;
      position: absolute;
      top: 50%;
      width: 35px;
      height: 35px;
      text-align: center;
      padding-top: 7px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    &:hover{
      &:before{
        color: $color;
      }
    }
    span{
      background-image: none;
      display: none;
    }
  }
}

footer{
  margin: 0px;
  background: transparent;
  //border-top-style: solid;
  //border-top-width: 1px;
  //border-image-source: linear-gradient(116deg, #8f754b, #e2ca97 53%, #90764c);
  //border-image-slice: 1;
  position: relative;
  margin-top: 43px;
  border: 0px;
  padding: 22px 0px 0px 0px;
  &:before{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(116deg, #8f754b, #e2ca97 53%, #90764c);
  }
  .addressa{
    ul{
      list-style: none;
      padding: 0px;
      margin: 0px;
      li{
        font-family: $mainfont;
        font-size: 16px;
        line-height: 1.63;
        color: #1d1d1d;
        letter-spacing: -0.2px;
        margin-bottom: 25px;
      }
    }
  }
  .contacts{
    border-left: solid 1px #e8e8e8;
    border-right: solid 1px #e8e8e8;
    div{
      font-family: $mainfont;
      font-size: 16px;
      line-height: 1.63;
      color: #1d1d1d;
    }
    .telephone{
      padding: 0px 0px 0px 15px;
      &:hover{
        color: $color;
        a{
          color: $color;
        }
      }
    }
    a{
      font-family: $mainfont;
      font-size: 16px;
      line-height: 1.63;
      color: #1d1d1d;
      &:hover{
        color: $color;
      }
    }
    .email{
      padding-left: 15px;
      margin-top: 26px;
    }
    .social_links{
      padding: 0px;
      margin: 0px;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin-top: 48px;
      padding-left: 20px;
      li{
        margin-right: 40px;
      }
      .icon{
        font-size: 19px;
        color: $color;
      }
      a{
        &:hover{
          opacity: 0.75;
        }
      }
    }
  }
  .subscribe_wrapp{
    .subscribe-box{
      padding-left: 44px;
    }
    .subscribe-title{
      font-family:$mainfont;
      font-size: 16px;
      line-height: 1.69;
      color: #161616;
      margin: 0px;
      span{
        color: #5a3d84;
      }
    }
    .subscribe-form{
      margin-top: 15px;
      .form-group{
        width: 100%;
        position: relative;
        &:first-child{
          padding-bottom: 19px;
        }
        .error_mess{
          position: absolute;
          bottom: 2px;
          left: 0px;
          color: rgba(255, 0, 0, 0.69);
          font-size: 10px;
        }
        input{
          width: 100%;
          border-radius: 0px;
          border: 0px;
          font-family: "AvenirNextRegular";
          font-size: 12px;
          color: black;
          border-bottom: solid 1px #e8e8e8;
          -webkit-box-shadow: none;
          box-shadow: none;
          padding: 3px 0px;
          height: 31px;
          ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-family: $mainfont;
            font-size: 12px;
            color: #999999;
          }
          ::-moz-placeholder { /* Firefox 19+ */
            font-family: $mainfont;
            font-size: 12px;
            color: #999999;
          }
          :-ms-input-placeholder { /* IE 10+ */
            font-family: $mainfont;
            font-size: 12px;
            color: #999999;
          }
          :-moz-placeholder { /* Firefox 18- */
            font-family: $mainfont;
            font-size: 12px;
            color: #999999;
          }
          &:focus{
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-image-source: linear-gradient(to right, #90764c, #e6ce9a 51%, #90764c);
            border-image-slice: 1;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: transparent;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: transparent;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: transparent;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: transparent;
            }
          }
        }
        &.has-error{
          z-index:2;
          padding-bottom: 19px;
          input{
            border-color: rgba(255, 0, 0, 0.69);
          }
        }
      }
      .btn_wrapp{
        text-align: right;
        margin-top: -1px;
        .subscribe_btn{
          background-color: white;
          border: 1px solid #e8e8e8;
          font-family: $mainfont;
          font-size: 16px;
          text-align: center;
          color: #161616;
          width: 197px;
          height: 50px;
          -webkit-transition: 0.3s ease all;
          -o-transition: 0.3s ease all;
          transition: 0.3s ease all;
          &:hover{
            position: relative;
            z-index:3;
            background-color: #f9f5eb;
            border-style: solid;
            border-width: 1px;
            border-image-source: linear-gradient(to right, #dcc491, #90764c);
            border-image-slice: 1;
          }
        }
      }
    }

  }
  .copyright{
    text-align: center;
    position: relative;
    margin-top: 29px;
    &:after{
      content: '';
      height: 1px;
      width: calc(100% + 30px);
      position: absolute;
      left: -15px;
      top: 50%;
      background: -webkit-gradient(linear, right top, left top, from(#f0d8a3), to(#8f754b));
      background: -webkit-linear-gradient(right, #f0d8a3, #8f754b);
      background: -o-linear-gradient(right, #f0d8a3, #8f754b);
      background: linear-gradient(to left, #f0d8a3, #8f754b);
    }
    p{
      display: inline-block;
      margin: 0 auto;
      background-color: white;
      position: relative;
      z-index: 2;
      height: 13px;
      font-family: Arial;
      font-size: 11px;
      color: #cacaca;
      line-height: normal;
      padding: 0px 35px;
      white-space: nowrap;
    }
  }
  .bottom_footer{
    text-align: center;
    padding: 20px 0px;
    a{
      color: black;
      height: 16px;
      font-family: PlayfairDisplay;
      font-size: 13px;
      color: #1f1f1f;
      &:before{
        content: '\e908';
        font-family: icomoon;
        margin-right: 10px;
      }
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.custom_fancy{
  .fancybox-skin{
    -webkit-box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(116deg, #8f754b, #e2ca97 53%, #90764c);
    border-image-slice: 1;
    padding: 0px;
    .fancybox-outer{
      .fancybox-inner{
        .fancy_head{
          background: #f6f2ec;
          font-family: $mainfont;
          font-size: 24px;
          font-weight: 500;
          color: #000000;
          padding: 24px 50px 24px 0px;
        }
        .fancy_content{
          padding: 25px 30px 49px 30px;
        }
      }
    }
    .fancybox-close{
      background-image: none;
      top: 13px;
      right: 21px;
      &:after{
        content: '\e901';
        font-family: icomoon;
        color: $color;
        font-size: 14px;
        position: absolute;
        left: 50%;
        top:50%;
        -webkit-transform: translate3D(-50%, -50%, 0);
        -ms-transform: translate3D(-50%, -50%, 0);
        transform: translate3D(-50%, -50%, 0);
      }
    }
  }
}
/*
.btn-default-1{
    font-family: $mainfont;
    font-size: 16px;
    text-align: center;
    color: #161616;
    border: solid 1px #e8e8e8;
}
*/
.btn-primary[disabled], .btn-primary[disabled]:hover{
  background-color: $color;
  color: white;
}
.stop {
  position: relative;
  z-index: 101;
  text-align: center;
}
#search_popup, #cart_popup, .login_register-wrapp, #request_call-modal, #thanks_modal{
  display: none;
}
#thanks_modal{
  .fancy_head{
    padding-left: 30px;
  }
  .fancy_content{
    font-family: $mainfont;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }
}

#cookie_fancy{
  display: none;
  .fancy_content{
    .title{
      font-family: $mainfont;
      font-size: 30px;
      font-weight: 600;
      line-height: 1.57;
      text-align: center;
      color: #000000;
      margin-bottom: 11px;
    }
    .logo{
      text-align: center;
      padding: 30px 0px;
      img{
        margin: 0 auto;
        max-width: 100%;
      }
    }
    .text{
      font-family: $mainfont;
      font-size: 17px;
      font-weight: 600;
      line-height: 2.76;
      text-align: center;
      color: #000000;
      margin-top: 14px;
    }
    .wrapp_buttons{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 17px;
      a{
        display: block;
        height: 50px;
        background-color: #f6f2ec;
        border: solid 1px #edd5a0;
        font-family: $mainfont;
        font-size: 15px;
        text-align: center;
        color: #000000;
        line-height: 45px;
        &:hover{
          color: white;
          background-color: #5a3d84;
          border-color: #5a3d84;
        }
      }
    }
  }
}

#cart_popup{
  .fancy_head{
    padding-left: 84px;
    position: relative;
    &:before{
      content: '\e90a';
      font-family: icomoon;
      font-size: 26px;
      position: absolute;
      top: 50%;
      left: 32px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: rgba(90, 61, 132, 0.75);
    }
  }
  ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    .text-empty{
      text-align: center;
      font-family: $mainfont;
      font-size: 22px;
      margin-bottom: 0px;
      margin-top: 15px;
    }
  }
  .wrapp_btn{
    text-align: center;
    a{
      border: solid 1px #e6cd99;
      font-family: $mainfont;
      font-size: 15px;
      font-size: 15px;
      text-align: center;
      color: #161616;
      text-align: center;
      line-height: 50px;
      display: inline-block;
      padding: 0px 30px;
      &:hover{
        background-color: #f9f5eb;
      }
    }
  }
  .wrapp_products{
    .product{
      overflow: hidden;
      padding-right: 30px;
      position: relative;
      .thumb{
        margin-right: 15px;
        width: 200px;
        float: left;
        img{
          max-width: 100%;
        }
      }
      .right_info{
        width: calc(100% - 215px);
        float: left;
        .name{
          font-family: $mainfont;
          color: black;
          font-size: 24px;
          margin-bottom: 10px;
          display: block;
          margin-top: 11px;
        }
        .options{
          font-size: 16px;
        }
        .price{
          font-family: Impact;
          font-size: 30px;
          letter-spacing: 0.6px;
          text-align: left;
          color: #131313;
          line-height: normal;
          margin: 10px 0px;
        }
      }
      .remove{
        width: 25px;
        height: 25px;
        position: absolute;
        right: 3px;
        top:10px;
        background-color: white;
        border: 0px;
        border-radius: 0px;
        padding: 0px;
        &:after{
          content: '\e90e';
          font-family: icomoon;
          color: $color;
          top: 50%;
          left: 50%;
          font-size: 20px;
          -webkit-transform: translate3D(-50%, -50%, 0);
          -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
        }
      }
    }
  }
}

.callback_btn{
  width: 70px;
  height: 70px;
  background-color: rgba(90, 61, 132, 0.10);
  border-radius: 50%;
  position: fixed;
  top: 50%;
  padding-top: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-animation: animate 2s infinite;
  animation: animate 2s infinite;
  z-index:2222;
  &:hover{
    background-color: rgba(90, 61, 132, 0.66);
    .icon {
      color: white;
    }
    -webkit-animation: none;
    animation: none;
  }
  & > div{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: rgba(90, 61, 132, 0.10);
    border-radius: 50%;
    padding-top: 5px;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
    & > div{
      width: 50px;
      height: 50px;
      margin: 0 auto;
      background-color: white;
      border-radius: 50%;
      position: relative;
    }
  }
  .icon{
    position: absolute;
    left: 50%;
    top:50%;
    -webkit-transform: translate3D(-50%, -50%, 0);
    -ms-transform: translate3D(-50%, -50%, 0);
    transform: translate3D(-50%, -50%, 0);
    font-size: 30px;
    color: $color;
  }
}
@-webkit-keyframes animate {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  55% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  60% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  65% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  75% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  85% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  95% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes animate {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  55% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  60% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  65% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  75% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  85% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  95% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.btn{
  border-radius: 0px;
  background-color: white;
  border: solid 1px #e8e8e8;
  min-width: 197px;
  padding: 13px 12px;
  white-space: nowrap;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background-image: none;
  font-family: $mainfont;
  font-size: 16px;
  color: #161616;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:hover, &:focus, &:active, &:active:focus, &:active:hover{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to right, #dcc491, #90764c);
    border-image-slice: 1;
    background-color: #f9f5eb;
    color: #161616;
  }

}
.breadcrumb{
  border: 0px;
  border-radius: 0px;
  background-color: white;
  padding: 11px 0px 8px 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-source: linear-gradient(to left, #90764c, #efd7a2 56%, #8f754b);
  border-image-slice: 1;
  margin-bottom: 42px;
  li{
    padding: 0px 19px 0px 2px;
    position: relative;
    &:after, &:before{
      width: auto;
      height: auto;
      border: 0px;
      padding: 0px;
    }
    &:not(:last-child){
      &:after{
        content: '\e90d';
        font-family: icomoon;
        color: #7a7a7a;
        font-size: 4px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(-90deg);
        -ms-transform: translateY(-50%) rotate(-90deg);
        transform: translateY(-50%) rotate(-90deg);
        right: 4px;
      }
    }
    a, span{
      font-family: $mainfont;
      font-size: 12px;
      color: #7a7a7a;
    }
  }
}

/*mega-filter-styles*/
//#mfilter-content-container{height: 0px;}
.mfilter_wrapp{
  .hide_filter{
    font-family: $mainfont;
    font-size: 15px;
    color: #161616;
    background-color: #f7f7f7;
    position: relative;
    padding: 9px 35px 11px 24px;
    cursor: pointer;
    z-index:2;
    &.closed{
      &:after{
        content: '\e910';
        -webkit-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg);
      }
    }
    &:after{
      content: '\e901';
      font-family: icomoon;
      position: absolute;
      color: $color;
      font-size: 10px;
      right: 16px;
      top:50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .mfilter-box{
    margin-top: 19px;
    .box-content{
      border: 0px;
      border-radius: 0px;
    }
    .mfilter-heading{
      background-color: white;
      border: 0px;
      .mfilter-heading-content{
        padding: 7px 4px;

      }
      .mfilter-heading-text{
        font-family: $mainfont;
        font-size: 16px;
        font-weight: 600;
        color: #161616;
        margin: 0px;
      }
    }
    .mfilter-content-opts{
      .mfilter-opts-container{
        border: 0px;
      }
      .mfilter-content-wrapper{}
      .mfilter-options{}
      .mfilter-option{
        display: block;
        &.mfilter-price, &.mfilter-slider{
          .mfilter-price-slider, .mfilter-slider-container{
            margin-bottom: 15px;
            margin-right: 0px !important;
          }
          .mfilter-slider-inputs, .mfilter-price-inputs{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            input{
              width: 60px !important;
              min-width: auto !important;
              max-width: auto !important;
              height: 30px;
              border-radius: 0px;
              -webkit-box-shadow: none;
              box-shadow: none;
              border: solid 1px #dfdfdf;
              font-family: $arimo;
              font-size: 12px;
              text-align: center;
              color: #161616;
            }
          }
        }
        .mfilter-price-slider{
          background: none !important;
          padding-left: 9px !important;
        }
        .mfilter-slider-slider .ui-slider-range, #mfilter-price-slider .ui-slider-range{
          background: #5a3d84 !important;
          border-radius: 0px;
        }
        .mfilter-slider-slider, #mfilter-price-slider {
          background: #f8f8f8 !important;
          border: solid 1px #f4f4f4 !important;
          height: 6px !important;
        }
        .mfilter-slider-slider .ui-slider-handle, #mfilter-price-slider .ui-slider-handle{
          background: none !important;
          width: 16px !important;
          height: 15px !important;
          &:after{
            content: '\e911';
            font-family: icomoon;
            position: absolute;
            left: 0px;
            right: 0px;
            color: #5a3d84;
          }
        }
      }
      .mfilter-col-input{
        width: auto;
        padding: 6px 0px;
        display: block;
        border: 0px;
        .mfilter-tb-as-td{
          border: 0px;
        }
      }
    }
  }
  .iScrollVerticalScrollbar{
    background-color: #f8f8f8;
    .iScrollIndicator{
      background-color: $color !important;
    }
  }
  .mfilter-button{
    text-align: center;
    margin-top: 30px;
    border: 0px;
  }
}

/*end mega-filter-styles*/

.news-ncategory{
  .category-info{
    display: none;
  }
  .titles{
    position: relative;
    h1{
      font-family: $mainfont;
      font-size: 24px;
      font-weight: 500;
      padding-right: 30px;
      margin: 0px;
      background-color: white;
      display: inline-block;
      position: relative;
      z-index:2;
      color: black;
    }
    &:after{
      content: '';
      width: 100%;
      height: 2px;
      background: -webkit-gradient(linear, left top, right top, from(#f0d8a3), to(#8f754b));
      background: -webkit-linear-gradient(left, #f0d8a3, #8f754b);
      background: -o-linear-gradient(left, #f0d8a3, #8f754b);
      background: linear-gradient(to right, #f0d8a3, #8f754b);
      position: absolute;
      top: 50%;
      left: 0px;
    }
  }
  .bnews-list{
    margin: 0 -15px;
    margin-top: 40px;
  }
  .artblock{
    width: 33.33332%;
    clear: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0px 15px;
    .artblock_inside{
      margin-bottom: 40px;
      .thumb{
        text-align: center;
        a{
          margin: 0 auto;
        }
        img{
          margin: 0 auto;
          max-width: 100%;
        }
      }
      .name{
        font-family: $mainfont;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #161616;
        display: block;
        position: relative;
        margin-top: 20px;
        padding: 0px 35px;
        &:after{
          content: '\e907';
          font-family: icomoon;
          color: #161616;
          right: 2px;
          top:2px;
          font-size: 12px;
          position: absolute;
          -webkit-transition: 0.2s ease all;
          -o-transition: 0.2s ease all;
          transition: 0.2s ease all;
        }
        &:hover{
          color: $color;
          &:after{
            color: $color;
            right: 8px;
          }
        }
      }
    }
  }
}
.news-article{
  .titles{
    position: relative;
    h1{
      font-family: $mainfont;
      font-size: 24px;
      font-weight: 500;
      padding-right: 30px;
      margin: 0px;
      background-color: white;
      display: inline-block;
      position: relative;
      z-index:2;
      color: black;
    }
    &:after{
      content: '';
      width: 100%;
      height: 2px;
      background: -webkit-gradient(linear, left top, right top, from(#f0d8a3), to(#8f754b));
      background: -webkit-linear-gradient(left, #f0d8a3, #8f754b);
      background: -o-linear-gradient(left, #f0d8a3, #8f754b);
      background: linear-gradient(to right, #f0d8a3, #8f754b);
      position: absolute;
      top: 50%;
      left: 0px;
    }
  }
  .article-meta{
    display: none;
  }
  .article_thumb{
    margin: 40px 0px 50px 0px;
  }
  .blog-gallery{
    margin: 0px -15px;
    margin-top: 40px;
    .wrapp_img{
      width: 25%;
      float: left;
      padding: 0px 15px;
      margin-bottom: 20px;
      text-align: center;
      .colorbox{
        display: block;
      }
      .text{
        font-family: $mainfont;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #161616;
        margin: 15px 0px;
      }
    }
  }
}

.product-special{
  .titles {
    position: relative;
    margin-bottom: 25px;
    h1 {
      font-family: $mainfont;
      font-size: 24px;
      font-weight: 500;
      padding-right: 30px;
      margin: 0px;
      background-color: white;
      display: inline-block;
      position: relative;
      z-index: 2;
      color: black;
    }
    &:after {
      content: '';
      width: 100%;
      height: 2px;
      background: -webkit-gradient(linear, left top, right top, from(#f0d8a3), to(#8f754b));
      background: -webkit-linear-gradient(left, #f0d8a3, #8f754b);
      background: -o-linear-gradient(left, #f0d8a3, #8f754b);
      background: linear-gradient(to right, #f0d8a3, #8f754b);
      position: absolute;
      top: 50%;
      left: 0px;
    }
  }
}
.wrapp_sort{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index:2;
  background-color: white;
  .control-label{
    font-family: $mainfont;
    font-size: 12px;
    text-align: center;
    color: #909090;
    padding: 0px 10px;
    margin: 0px;
  }
  .sort_item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    label{
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0px;
    }
  }
  .pagination_wrapp{
    text-align: right;
  }
}

.paginationc{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style: none;
  margin: 0px;
  padding: 0px;
  li{
    font-family: $mainfont;
    font-size: 12px;
    text-align: center;
    color: rgba(22, 22, 22, 0.5);
    &.prev-page{
      a{
        &:after{
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
    &.next-page{
      a{}
    }
    &.active{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0px 8px;
      a{
        width: 41px;
        height: 40px;
        border: solid 1px #e3e3e3;
      }
      span{
        font-size: 12px;
        font-family: $mainfont;
        background-color: white;
        color: rgba(22, 22, 22, 0.5);
        border: 0px;
        &.num{
          font-family: $mainfont;
          font-size: 16px;
          text-align: center;
          color: #161616;
          background-color: white;
          width: 41px;
          height: 40px;
          padding-top: 8px;
          border: solid 1px #e3e3e3;
          float: none;
          margin: 0px 5px;
        }
      }
    }
    span{
      padding: 0px;
    }
    a{
      padding: 0px;
      font-family: $mainfont;
      font-size: 16px;
      text-align: center;
      color: #161616;
      padding: 3px 5px;
      border-radius: 0px;
      border: 0px;
      display: block;
      &:after{
        display: block;
        content: '\e907';
        font-family: icomoon;
        font-size: 12px;
        color: rgba(22, 22, 22, 0.50);
      }
    }
  }
}
.information-contact{
  .breadcrumb{
    margin-bottom: 38px;
  }
  .contacts_nikola{
    margin-bottom: 52px;
  }
  .contacts_nikola, .contacts_with_nikola, .shops_nikola {
    .title {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      h2 {
        font-family: $mainfont;
        font-size: 24px;
        font-weight: 500;
        color: #000000;
        display: inline-block;
        background-color: white;
        position: relative;
        z-index: 2;
        margin: 0px;
        padding-right: 58px;
        white-space: nowrap;
        width: 100%;
        span {
          color: $color;
        }
      }
      .line{
        content: '';
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(#f0d8a3), to(#8f754b));
        background: -webkit-linear-gradient(left, #f0d8a3, #8f754b);
        background: -o-linear-gradient(left, #f0d8a3, #8f754b);
        background: linear-gradient(to right, #f0d8a3, #8f754b);
        //position: absolute;
        top: 50%;
        left: 0px;
      }
    }
  }
  .telephones{
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 34px;
    li{
      a{
        font-family: $mainfont;
        font-size: 16px;
        line-height: 1.69;
        color: #232323;
      }
    }
  }
  .email{
    margin-top: 27px;
    a{
      font-family: $mainfont;
      font-size: 16px;
      line-height: 1.69;
      color: #232323;
    }
  }
  .contacts_with_nikola{
    form{
      margin-top: 45px;
    }
    .form-control{
      padding: 4px 6px;
      height: auto;
      resize: none;
    }
    .form-group {
      margin-bottom: 44px;

    }
    .buttons{
      text-align: right;
      margin: 0px;
      margin-top: -45px;
    }
  }
  .text_info{
    font-family: $mainfont;
    font-size: 14px;
    color: #777777;
    margin-top: 20px;
  }

  .shops_nikola{
    padding-left: 24px;
    .citys{
      list-style: none;
      padding: 0px;
      margin: 0px;
      .city{
        margin-bottom: 2px;
      }
    }
    .name_city{
      display: inline-block;
      font-family: $mainfont;
      font-size: 18px;
      font-weight: 600;
      color: #000000;
      position: relative;
      padding-right: 34px;
      margin-top: 27px;
      &:before{
        content: '\e906';
        font-family: icomoon;
        position: absolute;
        right: 5px;
        top: calc(50% - 2px);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: $color;
        font-size: 16px;
      }
    }
    .shops{
      list-style: none;
      padding: 0px;
      margin: 0px;
      margin-top: 24px;
    }
    .shop{
      font-family: $mainfont;
      font-size: 16px;
      line-height: 1;
      color: #1d1d1d;
      &:not(:last-child){
        margin-bottom: 16px;
      }
    }
  }
}

.product_preview-share{
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 35px;
  .product_preview-share_item{
    font-family: $mainfont;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #161616;
    display: inline-block;
    a{
      font-family: $mainfont;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      color: #161616;
      display: inline-block;
      background-color: rgba(238, 231, 219, 0.5);
      padding: 6px 25px;
      display: block;
    }
    .icon{

    }
  }
}

.for_select{
  position: relative;
  select{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    padding: 0px;
    font-family: $mainfont;
    font-size: 13px;
    text-align: center;
    color: #161616;
    height: auto;
    padding:0px 30px 0px 10px;
    border:0px;
    background-color: #f7f7f7;
    height: 40px;
    cursor: pointer;
    &:focus{
      border: 0px;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    &::-ms-expand {
      display: none;
    }
  }
  &:after{
    content: '\e90d';
    font-family: icomoon;
    font-size: 7px;
    position: absolute;
    right: 10px;
    top: 50%;
    color: $color;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    cursor: pointer;
  }
}
.for_select2{
  position: relative;
  select{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    padding: 0px;
    font-family: $mainfont;
    font-size: 13px;
    color: #161616;
    cursor: pointer;
    &:focus{
      border: 0px;
      border-bottom: solid 1px #e8e8e8;
    }
    &::-ms-expand {
      display: none;
    }
  }
  &:after{
    content: '\e90d';
    font-family: icomoon;
    font-size: 7px;
    position: absolute;
    right: 3px;
    top: 50%;
    color: $color;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    cursor: pointer;
  }
}
.custom_checkbox{
  input {
    display: none;
  }
  label {
    padding-left: 30px;
    font-family: $mainfont;
    font-size: 14px;
    color: #3d3d3d;
    cursor: pointer;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      display: block;
      left: 0px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background: url("../image/checkbefore.svg") no-repeat;
      cursor: pointer;
    }
  }
  input:checked + label:before {
    background: url("../image/checkafter.svg") no-repeat;
  }
}

.login_register-wrapp{
  .content_popup{
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
    &:before{
      content: '';
      border-right: 1px dashed #d4d4d4;
      position: absolute;
      height: 100%;
      width: 1px;
      top: 0px;
      display: block;
      left: 35.333%;
      z-index:2;
    }
  }
  .content{
    padding: 46px 20px 0px 16px;
    .title{
      font-family: $mainfont;
      font-size: 18px;
      font-weight: 600;
      color: #3a3a3a;
    }
    .under_title{
      font-family: $mainfont;
      font-size: 14px;
      color: #8d8d8d;
      margin-top: 8px;
      margin-bottom: 26px;
    }
  }
  .form-group {
    margin-bottom: 25px;
  }
  .has-error .form-control{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: red;
  }
  #quick-login{
    width: 35.333333%;
    float: left;
  }
  #quick-register{
    width: 64.666667%;
    float: left;
    .radio_group{
      padding-left: 15px;
      .radio{
        input{
          display: none;
          &:checked + label:before {
            background: url("../image/checkafter.svg") no-repeat;
          }
        }
        label{
          font-family: $mainfont;
          font-size: 14px;
          font-weight: 500;
          color: #3a3a3a;
          padding-left: 35px;
          &:before {
            content: '';
            position: absolute;
            display: block;
            left: 0px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background: url("../image/checkbefore.svg") no-repeat;
            cursor: pointer;
          }
        }
        &:first-child{
          display: none;
        }
      }
    }
    .all_field{
      font-family: $mainfont;
      padding-left: 15px;
      font-size: 12px;
      color: #6f2828;
    }
    .button_wrapp{
      margin-top: 15px;
    }
  }
  .heading{
    background-color: #f6f2ec;
    font-family: $mainfont;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    position: relative;
    padding: 22px 0px 26px 75px;
    &:before{
      content: '\e904';
      font-family: icomoon;
      color: $color;
      position: absolute;
      left: 28px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .button_wrapp{
    text-align: right;
  }
  .one_footer{
    background-color: #f6f2ec;
    padding: 40px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .some_text{
      font-family: $mainfont;
      margin-right: 15px;
      font-size: 14px;
      color: #3a3a3a;
    }
    .ulogin-buttons-container{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .ulogin-dropdown-button{
        display: none !important;
      }
      .fa{
        color: $color;
        font-size: 26px;
        margin: 0px 5px;
      }
    }
  }
  .error_mess{
    display: block;
    color: #6f2828;
    font-size: 10px;
    margin-bottom: 10px;
  }
}

.form-control{
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0px;
  font-size: 14px;
  border-bottom: solid 1px #e8e8e8;
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999999;
    font-family: $mainfont;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #999999;
    font-family: $mainfont;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #999999;
    font-family: $mainfont;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #999999;
    font-family: $mainfont;
  }
  &:focus{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-source: linear-gradient(to right, #90764c, #e6ce9a 51%, #90764c);
    border-image-slice: 1;
    -webkit-box-shadow: none  ;
    box-shadow: none  ;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: transparent;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: transparent;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: transparent;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: transparent;
    }
  }
}
.alert{
  border-radius: 0px;
}

.mfp-bg{
  background-color: rgba(90, 61, 132, 0.6);
}
#popup-purchase-wrapper{
  max-width: 630px;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(145deg, #8f754b, #e2ca97 53%, #90764c);
  border-image-slice: 1;
  .popup-heading{
    font-family: $mainfont;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    padding: 18px 50px 21px 83px;
    position: relative;
    background-color: #f6f2ec;
    border-bottom: 0px;
    line-height: normal;
    &:before{
      content: '\e905';
      font-family: icomoon;
      color: black;
      top: 50%;
      position: absolute;
      left: 34px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .mfp-close{
    background: none;
    height: 65px;
    width: 69px;
    opacity: 1;
    &:hover{
      &:after{
        opacity: 0.65;
      }
    }
    &:after{
      content: '\e90e';
      font-family: icomoon;
      position: absolute;
      left: 50%;
      top: 50%;
      text-indent: 0;
      color: $color;
      font-size: 16px;
      line-height: normal;
      -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
      transform: translate3D(-50%, -50%, 0);
    }
  }
  .thumb{
    width: 200px;
    margin-right: 13px;
    float: left;
    img{
      max-width: 100%;
    }
  }
  .right_info{
    width: calc(100% - 213px);
    float: left;
    .product-name{
      font-family: $mainfont;
      font-size: 24px;
      font-weight: 600;
      color: #161616;
      margin: 0px;
      padding-top: 21px;

    }
    .product-price{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin-top: 28px;
      #main-price{
        font-family: $impact;
        font-size: 30px;
        letter-spacing: 0.6px;
        text-align: center;
        color: #131313;
        line-height: normal;
      }
      #special-price{
        font-family: $impact;
        font-size: 15px;
        letter-spacing: 0.3px;
        text-align: center;
        color: #acacac;
        line-height: normal;
        margin-left: 25px;
        line-height: 24px;
        text-decoration: line-through;
        padding: 0px 5px;
      }
    }
  }
  .wrapp_options{
    margin: 0px -15px;
    overflow: hidden;
    .radio_wrapp{
      width: 50%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0px 15px;
      float: left;
      margin-bottom: 15px;
      .control-label{
        &:after{
          display: none;
        }
      }
    }
  }
  .payment-info{
    & > div{
      margin-bottom: 15px;
    }
    input, textarea{
      border: 0px;
      border-bottom: solid 1px #e8e8e8;
      &:focus{
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-image-source: linear-gradient(to right, #90764c, #e6ce9a 51%, #90764c);
        border-image-slice: 1;
      }
    }
  }
  .popup-footer{
    border: 0px;
    background-color: white;
    #popup-checkout-button{
      border-radius: 0px;
      background-color: white;
      font-family: $mainfont;
      border: 1px solid #e6cd99;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-weight: normal;
      line-height: 47px;
      padding: 0px 30px 0px 50px;
      height: 50px;
      font-size: 15px;
      text-align: center;
      color: #161616;
      position: relative;
      &:before{
        content: '\e905';
        font-family: icomoon;
        font-size: 18px;
        position: absolute;
        top: 50%;
        color: black;
        left: 20px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: 0.2s ease all;
        -o-transition: 0.2s ease all;
        transition: 0.2s ease all;
      }
      &:hover{
        background-color: #f9f5eb;
      }
    }
  }
}
.account_links{
  a{
    color: black;
    font-size: 14px;
    padding: 5px 0px;
    display: inline-block;
    &:hover{
      color: $color;
    }
  }
}
.fancybox-overlay{
  z-index: 10000;
}
.fancybox-opened{
  z-index: 10001;
}

.alert-success {
  color: $color;
  background-color: rgba(90, 61, 132, 0.15);
  border-color: $color;
}
.checkout-success p {
  font-size: 16px;
}
.category-page{
  .titles{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 8px;
    h1{
      font-family: $mainfont;
      font-size: 24px;
      font-weight: 500;
      padding-right: 30px;
      margin: 0px;
      background-color: white;
      display: inline-block;
      position: relative;
      z-index:2;
      color: black;
      width: 100%;
    }
    .line{
      content: '';
      width: 100%;
      height: 2px;
      background: -webkit-gradient(linear, left top, right top, from(#f0d8a3), to(#8f754b));
      background: -webkit-linear-gradient(left, #f0d8a3, #8f754b);
      background: -o-linear-gradient(left, #f0d8a3, #8f754b);
      background: linear-gradient(to right, #f0d8a3, #8f754b);
      top: 50%;
      left: 0px;
    }
  }
  .not_found_text{
    padding-left: 7px;
  }
}
.account-simpleedit, .account-simpleedit, .account-password, .account-order, .account-logout{
  h1{
    margin-top: 0px;
    line-height: 26px;
  }
}
.account-address{
  h2{
    margin-top: 0px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main_menu .first_level > li{
    width: auto;
  }
}

//.cart_wrapp .cart_link:before{
//  content: '\e900';
  //background: none;
  //font-family: icomoon;
  //color: $color;
  //font-size: 80px;
//}