@media screen and (max-width: 1440px){
  body{
    background: white;
  }
  .f_content, .f_footer{
    //width: 970px;
    width: calc(100% - 240px);
  }
  .container{
    width: 100%;
  }
  .main_about_as {
    ul{
      padding: 0px 40px 28px 40px;
      &:after{
        width: calc(100% - 80px);
        left: 40px;
      }
      li{
        height: 142px;
      }
    }
  }
  .main_menu .first_level > li a{
    padding: 17px 25px 13px 25px;
  }
  footer {
    .contacts {
      width: 29%;
    }
    .subscribe_wrapp {
      width: 37.666667%;
    }
  }
}
@media screen and (max-width: 1440px) and (min-width: 1211px){
  .product-page .button_group{
    width: 66.66667%;
  }
  .product-page .button_group_whst{
    width: 15%;
  }
  .fixed_menu{
    width: calc(100% - 240px);
  }
  .main_about_as ul{
    width: 941px;
    margin: 0 auto;
    margin-top: 21px;
    margin-bottom: 46px;
  }
  footer .subscribe_wrapp .subscribe-title br{
    display: none;
  }
}
@media screen and (max-width: 1210px) and (min-width: 1200px) {
  .product-page .button_group{
    width: 83.33333333%;
  }
  .product-page .button_group_whst{
    width: 16.66666667%;
  }
}
@media screen and (max-width: 1210px){
  .container, .f_content, .f_footer{
    width: 750px
  }
  .main_about_as {
    ul{
      padding: 0px 0px 28px 0px;
      &:after{
        width: 100%;
        left: 0px;
      }
      li{
        height: 114px;
        p{
          font-size: 16px;
        }
      }
    }
  }
  .main_menu {
    .secound_level{
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      &>li{
        width: auto;
      }
    }
    .first_level {
      & > li{
        a{
          padding: 17px 9px 13px 9px;
        }
      }
    }
  }
  .fixed_menu {
    width: auto;
    .first_level {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
  .wrapp_sort{
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    .sort_item{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      label.control-label{
        &:last-child{
          display: none;
        }
      }
    }
    .pagination_wrapp {
      .pagination {
        margin-top: 20px;
        li{
          &.active{
            span:not(.num){
              display: none;
            }
          }
        }
      }
    }
  }
  .product-layout {
    .product-thumb {
      padding-bottom: 10px;
      &:hover{
        .wrapp_whbtn{
          right: 5px;
          opacity: 1;
        }
        .sizes{
          opacity: 0;
        }
      }
      .sizes{
        display: none;
      }
      .wrapp_whbtn{
        right: 5px;
        opacity: 1;
      }
    }
  }
  footer{
    .contacts{
      width: 33%;
      .telephone{
        padding-left: 0px;
      }
      .email{
        padding-left: 0px;
      }
    }
    .subscribe_wrapp {
      width: 33.666667%;
      .subscribe-box{
        padding-left: 0px;
      }
    }
  }
}
@media screen and (max-width: 991px){
  .container, .f_content, .f_footer{
    width: 100%;
  }
  header{
    .left_logo {
      background-size: calc(100% + 60px) 100%;
      .text{
        margin-right: 0px;
      }
      &:before, &:after{
        width: 65px;
        left: inherit;
        right: 45px;
      }
    }
    .right_logo{
      background-size: calc(100% + 60px) 100%;
      .text{
        margin-left: 0px;
      }
      &:before, &:after{
        width: 65px;
        right: inherit;
        left: 45px;
      }
    }
  }
  .main_menu {
    .first_level {
      &>li {
        text-align: center;
        a {
          display: inline-block;
          padding: 17px 40px 13px 40px;
          .open_child{
            display: block;
          }
        }
        &.dropdown{
          .dropdown-menu{
            position: static;
            padding: 0px;
            padding-bottom: 0px !important;
          }
        }
      }
      .secound_level > li a{
        padding: 5px 20px 9px 30px;
      }
    }
    .third_level {
      padding-left: 25px;
      padding-top: 5px;
    }
    .secound_level{
      padding: 5px 15px 15px 10px;
      border-right: 0px;
      border-left: 0px;
    }
    &.fine_menu{
      .first_level{
        border: 0px;
      }
    }
  }

  .cart_wrapp {
    position: absolute;
    right: 30px;
    top: calc(50% - 15px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    .cart_link {
      width: 54px;
      display: block;
      height: 71px;
      padding: 32px 0px 0px 0px;
      font-size: 27px;
      span{
        display: none;
      }
      &:before{
        background: url('../image/shopping-bag-1.svg');
        position: absolute;
        content: '';
        left: 50%;
        height: 100%;
        width: 100%;
        background-size: cover;
        display: block;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 0px;
        z-index: 2;
      }
    }
    &.has-product {
      .cart_link{
        color: black;
        &:before{
          content: '';
        }
      }
    }
  }
  .main_menu{
    #menu{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative;
    }
    .hamburger {
      display: block;
    }
    .first_level{
      display: none;
      position: absolute;
      background-color: white;
      top: 100%;
      width: calc(100% + 30px);
      //width: 100%;
      max-width: inherit;
      left: -15px;
      z-index:3;
      border-bottom: 1px solid rgba(238, 231, 219, 0.5);
    }
    .shecter{
      display: block;
    }
    &.fine_menu {
      .first_level{
        & > li {
          background-color: white;
          a{
            &:hover{
              &:after{
                display: none;
              }
            }
          }
          &:hover{
            background-color: white;
          }
        }
      }
    }
  }
  .f_content:before, .f_content:after, .f_footer:before, .f_footer:after{
    display: none;
  }
  #right_header{
    position: absolute;
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px;
    left: 0px !important;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .language_wrapp{
    margin: 0px;
    border-bottom: 0px;
    padding: 0px;
    .all_languages{
      background-color: white;
      text-align: center;
      position: absolute;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      padding: 10px 10px 10px 10px;
      border: 1px solid #5A3D84;
      z-index: 2;
    }
  }
  .curremcies_wrapp{
    margin: 0px;
    border-bottom: 0px;
    padding: 0px;
    .all_currencies {
      background-color: white;
      text-align: center;
      position: absolute;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      padding: 10px 10px 10px 10px;
      border: 1px solid #5A3D84;
      z-index: 2;
    }

  }
  .search_link{
    margin: 0px;
    border-bottom: 0px;
  }
  .login_wrapp {
    .login_link{
      margin: 0px;
      border-bottom: 0px;
    }
    .info{
      display: none;
    }
  }
  .wishlist {
    padding: 0px;
    .wishlist-total{
      margin: 0px;
      &:hover{
        background-position: -5px -41px;
        .info{
          display: none;
        }
      }
      &:after{
        display: none;
      }
    }
  }
  .fixed_menu{
    display: none !important;
  }
  .product-page .right-col-product{
    padding: 0px 15px;
  }

  footer{
    .addressa, .contacts{
      display: none;
    }
    .subscribe_wrapp{
      width: 100%;
      .subscribe-box{
        padding: 0px 100px;
      }
      .subscribe-title{
        text-align: center;
        br{
          display: none;
        }
      }
    }
  }
  #menu .dropdown:hover > .dropdown-menu{
    display: none;
  }
  .callback_btn{
    left: 10px !important;
    top: inherit !important;
    bottom: 15px !important;
  }
  .news-ncategory .artblock {
    width: 50%;
  }
  .news-article .blog-gallery .wrapp_img{
    width: 33.33332%;
  }

  .wishlist:hover .info, .language_wrapp:hover .info, .curremcies_wrapp:hover .info, .search_link:hover .info, .login_wrapp:hover .info{
    display: none;
  }

}
@media screen and (max-width: 991px) and (min-width: 768px){
  .main_about_as ul{
    width: 738px;
    margin: 0 auto;
    margin-top: 21px;
    margin-bottom: 46px;
  }
  header{
    .logo_wrapp{
      max-width: 140px;
    }
  }
}
@media screen and (max-width: 767px) {
  #right_header{
    position: static;
  }
  .cart_wrapp{
    position: static;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    width: 47px;
    .cart_link{
      overflow: hidden;
      width: 27px;
      height: 35px;
      padding: 0px 0px 0px 0px;
      color: transparent;
      &:before{
        top:1px;
        content: '\e900' !important;
        background: none !important;
        font-family: icomoon;
        color: #5a3d84;
        font-size: 34px;
        font-weight: 600;
        line-height: normal;
      }
    }
    &.has-product{
      .cart_link {
        text-indent: 0px;
        font-size: 20px;
        padding-top: 12px;
        &:before{
          font-size: 34px;
        }
      }
    }
  }
  .search_link{
    padding: 10px 0px 4px 0px;
  }
  .login_wrapp .login_link {
    padding: 10px 0px 7px 0px;
  }
  .wishlist{
    width: 47px;
    .wishlist-total{
      margin: 0 auto;
    }
  }
  .main_menu .shecter{
    display: none;
  }
  .language_wrapp {
    .languages_btn{
      padding-bottom: 10px;
      text-align: center;
      &:after{
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: auto;
        bottom: 0px;
        line-height: normal;
      }
    }
    .all_languages{
      background-color: white;
      text-align: center;
      position: absolute;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      padding: 10px 10px 10px 10px;
      border: 1px solid #5A3D84;
      z-index:2;
    }
  }
  .curremcies_wrapp {
    .currencies_btn {
      padding-bottom: 10px;
      text-align: center;
      &:after{
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: auto;
        bottom: 0px;
        line-height: normal;
      }
    }
    .all_currencies{
      background-color: white;
      text-align: center;
      position: absolute;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      padding: 10px 10px 10px 10px;
      border: 1px solid #5A3D84;
      z-index:2;
    }
  }
  .wrapp_sort{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    display: block;
  }
  .mfilter_wrapp{
    margin-bottom: 20px;
    position: relative;
    .mfilter-box{
      position: absolute;
      left: 0px;
      top:100%;
      background-color: white;
      z-index:5;
      width: 100%;
      padding: 0px 15px;
      display: none;
      border-bottom: 1px solid #90764c;
      padding-bottom: 20px;
    }
  }
  header {
    border-top: 1px solid rgba(238, 231, 219, 0.50);
    border-bottom: 1px solid rgba(238, 231, 219, 0.50);
    .logo_wrapp{
      padding: 10px 0px;
      max-width: 100%;
      img{
        display: none;
        &.mobile_logo{
          display: block;
        }
      }
    }
    .left_logo, .right_logo{
      display: none;
    }
  }
  .main_slideshow{
    margin-left: -15px;
    margin-right: -15px;
    .slideshow_item {
      img {
        display: none;
        &.mob_banner{
          display: block;
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
  #manufacturer_carusel{
    display: none;
  }
  .latest_wrapp{
    border: 0px;
    .title {
      &:before{
        display: none;
      }
      h3 {
        display: block;
        a{
          padding: 15px 30px 15px 10px;
          text-align: left;
          &:after{
            right: 6px;
          }
          &:hover{
            &:after{
              right: 6px;
            }
          }
        }
      }
    }
  }
  .main_about_as{
    border: 0px;
    .title {
      &:before{
        display: none;
      }
      h3 {
        display: block;
        a{
          padding: 15px 30px 15px 10px;
          text-align: left;
          &:after{
            right: 6px;
          }
          &:hover{
            &:after{
              right: 6px;
            }
          }
        }
      }
    }
    ul {
      padding: 0px 20px 28px 20px;
      margin-left: -15px;
      margin-right: -15px;
      .slick-arrow{
        position: absolute;
        cursor: pointer;
        width: 25px;
        height: 23px;
        z-index:2;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        &:before{
          font-family: icomoon;
          font-size: 20px;
          color: #161616;
          position: absolute;
          top: calc(50% - 10px);
          -webkit-transform: translate3D(-50%, -50%, 0);
          -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
          left: 50%;
        }
        &:hover{
          &:before{
            color: #5A3D84;
          }
        }
        &.next_arrow{
          right: 0px;
          top: 50%;
          &:before{
            content: '\e910';
          }
        }
        &.prev_arrow{
          left: 0px;
          top: 50%;
          &:before{
            content: '\e90f';
          }
        }
      }
      li{
        background: white;
        height: 127px;
        &:before{
          content: '';
          display: block;
          width: 127px;
          height: 127px;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 0px;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          background: -webkit-gradient(linear, left top, left bottom, from(#90764c), color-stop(54%, #ecd49f), to(#90764c));
          background: -webkit-linear-gradient(top, #90764c, #ecd49f 54%, #90764c);
          background: -o-linear-gradient(top, #90764c, #ecd49f 54%, #90764c);
          background: linear-gradient(to bottom, #90764c, #ecd49f 54%, #90764c);
        }
        &:after{
          width: 123px;
          height: 123px;
          top: 2px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
    }
  }
  .information-contact {
    .title{
      h2{
        padding-right: 0px;
      }
      .line{
        display: none;
      }
    }
    .shops_nikola{
      margin-top: 25px;
    }
  }
  .category-page {
    .titles {
      height: 1px;
      padding: 0px;
      .line{
        display: none;
      }
    }
  }
  .product-page {
    .related_wrapp {
      .related {
        padding-right: 40px;
        padding-left: 40px;
        .slick-list{
          margin: 0px;
        }
        .slick-arrow {
          height: 70px;
          width: 20px;
          &.prev_arrow {
            top: 50%;
          }
          &.next_arrow {
            top: 50%;
            right: 15px;
            left: inherit;
          }
        }
      }
    }
  }
  #cart_popup .fancy_head{
    padding: 24px 45px 24px 20px;
    &:before{
      display: none;
    }
  }
  .custom_fancy {
    .fancybox-skin {
      .fancybox-close {
        right: 6px;
      }
      .fancybox-outer {
        .fancybox-inner {
          .fancy_content{
            padding: 25px 20px 49px 20px;
          }
        }
      }
    }
  }
  #popup-purchase-wrapper {
    .thumb{
      width: 130px;
    }
    .right_info {
      width: calc(100% - 143px);
    }
  }
  footer {
    .subscribe_wrapp {
      padding: 0px;
      margin-left: -15px;
      margin-right: -15px;
      width: calc(100% + 30px);
      .subscribe-box{
        padding: 0px;
      }
      .subscribe-form {
        .btn_wrapp{
          text-align: center;
        }
        .form-group{
          margin-top: 30px;
          input{
            padding: 3px 10px;
          }
        }
      }
    }
  }
  .news-article .blog-gallery .wrapp_img{
    width: 50%;
  }
  .login_register-wrapp {
    #quick-login, #quick-register{
      width: 100%;
    }
    #quick-login{
      margin-bottom: 20px;
    }
    .content_popup:before{
      display: none;
    }
  }
  .wrapp_sort .pagination_wrapp{
    text-align: center;
    margin-top: 10px;
    .paginationc{
      justify-content: center;
    }
  }
}
@media screen and (max-width: 480px) {
  #cart_popup {
    .wrapp_products {
      .product {
        .right_info{
          width: 100%;
        }
      }
    }
  }
  #popup-purchase-wrapper {
    .thumb{
      width: 100%;
      margin: 0px;
      text-align: center;
      img{
        margin: 0 auto;
      }
    }
    .right_info .product-name{
      font-size: 18px;
    }
    .right_info {
      width: 100%;
    }
    .wrapp_options {
      .radio_wrapp{
        width: 100%;
      }
    }
    .popup-heading{
      font-size: 20px;
      padding:18px 50px 21px 25px;
      &:before{
        display: none;
      }
    }
  }
  .news-ncategory .artblock {
    width: 100%;
  }
  .news-article .blog-gallery .wrapp_img{
    width: 100%;
  }
  #search_popup .fancy_head {
    padding-left: 15px;
    &:before{
      display: none;
    }
  }
  #cookie_fancy{
    .wrapp_buttons{
      flex-direction: column;
      div{
        width: 100%;
        margin-top: 10px;
      }
    }
    .fancy_content {
      .title {
        font-size: 18px;
      }
      .text {
        line-height: 1.76;
      }
    }
  }
}